Repository townteki/townsquare, pull requests merged in 2021-07, with the labels that each got.

#679 implements As Nature and God Intended.
  docs/cardpool-status.md
  server/game/cardaction.js
  server/game/cards/15-W2D/AsNatureAndGodIntended.js
Labels: card-script

#692 Implemented Baijiu Sue
  server/game/cards/13-O4B/BaijiuSue.js
Labels: card-script

#690 Implemented Carmichaels Livery
  server/game/cards/15-W2D/CarmichaelsLivery.js
Labels: card-script

#688 Implemented Crystal Palace
  docs/cardpool-status.md
  server/game/cards/14-HCWM/Crystal Palace.js
Labels: card-script

#685 New Kung Fu
  server/game/basecard.js
  server/game/chatcommands.js
  server/game/drawcard.js
  server/game/game.js
  server/game/gamesteps/abilityresolver.js
  server/game/gamesteps/playwindow.js
  server/game/player.js
  server/game/techniqueaction.js
  server/game/techniquecard.js
  test/helpers/DeckBuilder.js
  test/helpers/gameflowwrapper.js
  test/server/cards/cancreatecards.spec.js
Labels: enhancement

#687 Implemented Tawodi
  server/game/PlayActions/PutIntoPlayCardAction.js
  server/game/PlayActions/StandardActions.js
  server/game/basecostreducer.js
  server/game/cards/01-DTR/MorganCattleCo.js
  server/game/cards/14-HCWM/Tawodi.js
  server/game/costreducer.js
  server/game/singlecostreducer.js
Labels: card-script

#689 Implemented Reggie Mallard
  server/game/cards/15-W2D/ReggieMallard.js
Labels: card-script

#691 Implemented Winners Circle
  server/game/cards/15-W2D/WinnersCircleAuctionHouse.js
  server/game/effects.js
Labels: card-script

#693 Implemented Bird Cage Theater
  server/game/cards/13-O4B/BirdCageTheater.js
Labels: card-script

#694 Card: Black Elk (Exp.1), Jonah's Alliance
  docs/cardpool-status.md
  server/game/cards/01-DTR/Unprepared.js
  server/game/cards/13-O4B/BlackElkExp1.js
  server/game/cards/13-O4B/JonahsAlliance.js
  server/game/dudecard.js
  server/game/effects.js
Labels: card-script

#695 The Angler
  server/game/cards/15-W2D/TheAngler.js
Labels: card-script

#697 Card: Lorena Corbett, Mason Adler
  server/game/cards/01-DTR/SoulBlast.js
  server/game/cards/06-TLS/RedHorsesTail.js
  server/game/cards/12-2T2D/XiongWendyChengExp1.js
  server/game/cards/13-O4B/LorenaCorbett.js
  server/game/cards/13-O4B/MasonAdler.js
  server/game/cards/14-HCWM/DrDelphiWallis.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/gamesteps/abilityresolver.js
  server/game/gamesteps/shootout/shootoutposseprompt.js
  server/game/jokercard.js
  server/game/player.js
Labels: card-script

#698 Card: Byron Decker, Dancing Butterfly
  docs/cardpool-status.md
  server/game/cards/13-O4B/ByronDecker.js
  server/game/cards/13-O4B/DancingButterfly.js
  server/game/effects.js
Labels: card-script

#705 Fix some issues
  server/game/cards/07.3-BadM/TheOrphanage.js
  server/game/game.js
  server/game/gamesteps/setup/grifterprompt.js
  server/game/gamesteps/setupphase.js
Labels: bug

#711 Fix issues after COMICCON plays
  server/game/PropertyTypes/KeywordsProperty.js
  server/game/cards/13-O4B/MasonAdler.js
  server/game/cards/14-HCWM/JackieSanjuro.js
  server/game/gamelocation.js
  server/game/player.js
Labels: bug

#712 GameLocation refactor
  server/game/cards/01-DTR/TheSloaneGang.js
  server/game/cards/02.2-DD/Hustings.js
  server/game/cards/05-IOUF/Randall.js
  server/game/cards/05-IOUF/YunxuJiang.js
  server/game/cards/11-TCaR/Sentinel.js
  server/game/dudecard.js
  server/game/game.js
  server/game/player.js
  server/game/spellcard.js
  test/server/player/canattach.spec.js
Labels: bug, refactor

#699 Implemented Fort 51
  server/game/cards/13-O4B/Fort51.js
  server/game/goodscard.js
  server/game/player.js
Labels: card-script

#701 Implemented Brother Petrovic
  server/game/cards/13-O4B/BrotherPetrovic.js
Labels: card-script

#703 Implemented Auntie Sinister
  server/game/cards/13-O4B/AuntieSinister.js
Labels: card-script

#704 Implemented You're a Daisy If You Do
  server/game/cards/13-O4B/YoureADaisyIfYouDo.js
Labels: card-script

#707 Implemented Epitaph Branch Office
  docs/cardpool-status.md
  server/game/cards/11-TCaR/EpitaphBranchOffice.js
Labels: card-script

#714 Another fixes plus new effect
  server/game/GameActions/index.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/goodscard.js
  server/game/player.js
  server/game/spellcard.js
Labels: bug

#717 Fix for chatcommand pull crash
  server/game/chatcommands.js
  server/game/spellcard.js
Labels: bug

#700 Implemented Padre Ernesto de Diaz
  server/game/cards/12-2T2D/PadreErnestodeDiaz.js
Labels: card-script

#684 implements Pete Spence.
  docs/cardpool-status.md
  server/game/cards/14-HCWM/PeteSpence.js
Labels: card-script

#719 Card: Johnny Ringo, Sgt. Elijah Clay
  server/game/cards/01-DTR/PointBlank.js
  server/game/cards/04.1-FJ/ShieldOfFaith.js
  server/game/cards/12-2T2D/CampbellHatchBilliardParlor.js
  server/game/cards/13-O4B/JohnnyRingo.js
  server/game/cards/13-O4B/SgtElijahClay.js
  server/game/cards/14-HCWM/RedRiverRoulette.js
  server/game/effects.js
Labels: card-script

#720 Card: Monomi Miles, Great Sage Matching Heaven
  server/game/cards/07.2-FP/Outgunned.js
  server/game/cards/10-BMR/GreatSageMatchingHeaven.js
  server/game/cards/11-TCaR/FriendsInHighPlaces.js
  server/game/cards/11-TCaR/Raven.js
  server/game/cards/13-O4B/MonomiMiles.js
  server/game/dudecard.js
  server/game/gamesteps/shootout.js
  server/game/gamesteps/shootout/shootoutposse.js
Labels: card-script

#721 Card: Cochise County Courthouse, Office of Ancestral Affairs
  .vscode/townsquare.code-snippets
  docs/cardpool-status.md
  server/game/cards/13-O4B/BirdCageTheater.js
  server/game/cards/13-O4B/CochiseCountyCourthouse.js
  server/game/cards/13-O4B/OfficeOfAncestralAffairs.js
  server/game/costs.js
  server/game/costs/CostBuilder.js
  server/game/gamesteps/shootout.js
Labels: card-script
