Repository townteki/townsquare, pull requests merged in 2021-12, with the labels that each got.

#1304 Solo: Construct draw hand
  server/game/Solo/automaton.js
  server/game/game.js
  server/game/gamesteps/shootout/drawhandprompt.js
  server/game/handresult.js
  server/game/player.js
  test/server/game/tiebreakers.spec.js
Labels: solo

#1308 Solo: Casualties plus Run or Gun
  server/game/Solo/Archetypes/BaseArchetype.js
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/Archetypes/GunslingerArchetype.js
  server/game/Solo/automaton.js
  server/game/Solo/priorities.js
  server/game/basecard.js
  server/game/chatcommands.js
  server/game/gamesteps/shootout/runorgunprompt.js
  server/game/gamesteps/shootout/shootoutposse.js
  server/game/gamesteps/shootout/takeyerlumpsprompt.js
Labels: solo

#1309 Simulate Sundown to check if player in Check
  server/game/game.js
  server/game/gamesteps/highnoonphase.js
  server/game/player.js
Labels: enhancement :rocket:

#1311 Solo: Foretelling functions for Influence and isDraw
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/automaton.js
  server/game/Solo/priorities.js
  server/game/basecard.js
  server/game/dudecard.js
Labels: solo

#1312 Solo: Prompt Info for Automaton
  server/game/gamesteps/ChooseYesNoPrompt.js
  server/game/gamesteps/menuprompt.js
  server/game/gamesteps/selectcardprompt.js
  server/game/gamesteps/valueprompt.js
Labels: solo

#1318 Solo: Make Automaton pull
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/automaton.js
  server/game/gamesteps/highnoonphase.js
Labels: solo

#1319 Solo: Automaton pull - Move
  server/game/Solo/Archetypes/BaseArchetype.js
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/priorities.js
  server/game/dudecard.js
  server/game/player.js
Labels: solo

#1320 Solo: Automaton pull - Play a card
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/player.js
Labels: solo

#1321 Solo: Automaton pull - Use ability
  server/game/Solo/Archetypes/GunfighterArchetype.js
Labels: solo

#1322 Solo: Automaton pull - handle Joker
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/player.js
Labels: solo

#1327 Solo: Target priorities when forming posse
  server/game/Solo/Archetypes/BaseArchetype.js
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/automaton.js
  server/game/Solo/priorities.js
  server/game/basecard.js
  server/game/cards/01-DTR/JarretBlake.js
  server/game/cards/01-DTR/Pinto.js
  server/game/cards/01-DTR/ShadowWalk.js
  server/game/cards/02.2-DD/AngelicaEspinosa.js
  server/game/cards/04.2-NTB/LaQuema.js
  server/game/cards/09.3-TSs/GhostlyCommunion.js
  server/game/cards/14-HCWM/HarlanStanton.js
  server/game/cards/16-DTR2/BuffaloRifle2.js
  server/game/cards/16-DTR2/GhostlyCommunion2.js
  server/game/cards/16-DTR2/LaQuema2.js
  server/game/cards/16-DTR2/ShadowWalk2.js
  server/game/drawcard.js
  server/game/game.js
  server/game/gamesteps/shootout.js
Labels: solo

#1329 Solo: Programmed Reflexes for Gunfighter
  server/game/Solo/Archetypes/BaseArchetype.js
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/automaton.js
  server/game/gamesteps/TriggeredAbilityWindow.js
  server/game/gamesteps/deedstreetsideprompt.js
  server/game/gamesteps/playwindow.js
  server/game/gamesteps/shootout.js
Labels: solo

#1330 Solo: Update Automaton functions
  server/game/Solo/Archetypes/BaseArchetype.js
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/automaton.js
  server/game/player.js
Labels: solo

#1335 Solo: Bragging Rights - scoring
  server/game/game.js
  server/game/player.js
  server/gamenode/gameserver.js
  server/services/GameService.js
Labels: solo

#1336 Solo: Move should not put Automaton in check
  server/game/Solo/Archetypes/BaseArchetype.js
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/automaton.js
  server/game/game.js
  server/game/player.js
Labels: solo

#1341 Fix card Malison
  server/game/cards/13-O4B/Malison.js
Labels: bug :bug:, card-script :black_joker:

#1340 Solo: Finalize callout
  server/game/Solo/Archetypes/BaseArchetype.js
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/automaton.js
Labels: solo

#1337 Card: Michael "The Badger" Dodge
  docs/cardpool-status.md
  server/game/cards/06-TLS/MichaelTheBadgerDodge.js
  server/game/drawcard.js
  test/server/card/drawcard.attachments.spec.js
Labels: card-script :black_joker:

#1339 Card: Yagn's Mechanical Skeleton for DT2
  server/game/cards/16-DTR2/YagnsMechanicalSkeleton2.js
Labels: card-script :black_joker:
