Repository townteki/townsquare, pull requests merged in 2021-11, with the labels that each got.

#1170 Card: 2T2D - Bedazzle
  docs/cardpool-status.md
  server/game/cards/12-2T2D/Bedazzle.js
Labels: card-script

#1192 Create Info area in player prompt
  server/game/cards/14-HCWM/VirgilEarp.js
  server/game/gamesteps/selectcardprompt.js
  server/game/gamesteps/setup/startingposseprompt.js
  server/game/gamesteps/shootout/drawhandprompt.js
  server/game/gamesteps/shootout/takeyerlumpsprompt.js
  server/game/gamesteps/upkeep/upkeepprompt.js
  server/game/playerpromptstate.js
Labels: enhancement, ui

#1189 Card: Quincy Washburne, Dr. Erik Yaple
  docs/cardpool-status.md
  server/game/cards/12-2T2D/DrErikYaple.js
  server/game/cards/12-2T2D/QuincyWashburne.js
Labels: card-script

#1190 Card: Harlan Stanton, Bartholomew P. Fountain
  docs/cardpool-status.md
  server/game/cards/12-2T2D/BartholomewPFountain.js
  server/game/cards/14-HCWM/HarlanStanton.js
Labels: card-script

#1191 Card: Mr. Baird, Vivene Goldsun
  docs/cardpool-status.md
  server/game/cards/10-BMR/DeAnnulosMysteriis.js
  server/game/cards/12-2T2D/MurderedInTombstone.js
  server/game/cards/14-HCWM/MrBaird.js
  server/game/cards/14-HCWM/ViveneGoldsun.js
  server/game/cards/15-W2D/HeathsCuriosityShoppe.js
  server/game/cards/15-W2D/LewEsquilin.js
  server/game/player.js
Labels: card-script

#1193 Card: Evan Lucas, Maurice Croker
  docs/cardpool-status.md
  server/game/GameActions/AceCard.js
  server/game/cards/14-HCWM/EvanLucas.js
  server/game/cards/14-HCWM/MauriceCroker.js
Labels: card-script

#1195 Card: Yiska, Sifting Squirrel
  docs/cardpool-status.md
  server/game/cards/15-W2D/SiftingSquirrel.js
  server/game/cards/15-W2D/Yiska.js
Labels: card-script

#1196 Card: Camillus S. Fly, Winona Rein-Breaker
  docs/cardpool-status.md
  server/game/cards/14-HCWM/CamillusSFly.js
  server/game/cards/14-HCWM/WinonaReinBreaker.js
Labels: card-script

#1197 Card: Blue Lightin', Judge Wells Spicer
  docs/cardpool-status.md
  server/game/cards/14-HCWM/BlueLightnin.js
  server/game/cards/14-HCWM/JudgeWellsSpicer.js
Labels: card-script

#1198 Card: Scratch, Battered Banjo
  docs/cardpool-status.md
  server/game/cards/14-HCWM/BatteredBanjo.js
  server/game/cards/14-HCWM/Scratch.js
Labels: card-script

#1200 Card: Ancestor's Reproach, Bolts o' Doom
  docs/cardpool-status.md
  server/game/cards/05-IOUF/SpiritDance.js
  server/game/cards/14-HCWM/AncestorsReproach.js
  server/game/cards/14-HCWM/BoltsODoom.js
Labels: card-script

#1201 Card: Secret Paths, Takin' Cover
  docs/cardpool-status.md
  server/game/cards/14-HCWM/SecretPaths.js
  server/game/cards/14-HCWM/TakinCover.js
Labels: card-script

#1206 Card: Fiddle Game, Putting The Pieces Together
  server/game/cards/08-GT/FiddleGame.js
  server/game/cards/09.1-TCR/PuttingThePiecesTogether.js
  server/game/cards/11-TCaR/DevilsSixGun.js
  server/game/effects.js
  server/game/gamesteps/gamblingphase.js
  server/game/gamesteps/shootout.js
  server/game/player.js
Labels: card-script

#1208 Card: Doris Powell, Focusing Chi
  docs/cardpool-status.md
  server/game/cards/03-FF/NicodemusWhateley.js
  server/game/cards/07.1-DDeeds/DorisPowell.js
  server/game/cards/07.3-BadM/FocusingChi.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/player.js
Labels: card-script

#1210 Card: DTR - Xiong Wendy Cheng
  docs/cardpool-status.md
  server/game/cards/01-DTR/XiongWendyCheng.js
Labels: card-script

#1194 Card: FJ - Benny McGill
  docs/cardpool-status.md
  server/game/cards/04.1-FJ/BennyMcGill.js
Labels: card-script

#1209 Card: Dr. JT Goodenough, Baird's Debt Collections
  docs/cardpool-status.md
  server/game/CardMatcher.js
  server/game/Matcher.js
  server/game/cards/03-FF/FuntimeFreddy.js
  server/game/cards/12-2T2D/QuincyWashburne.js
  server/game/cards/15-W2D/BairdsDebtCollections.js
  server/game/cards/15-W2D/DrJTGoodenough.js
Labels: card-script

#1211 Misc fixes
  server/game/cards/01-DTR/TheSloaneGang.js
  server/game/cards/08-GT/FoolMeOnce.js
  server/game/dudecard.js
Labels: bug

#1214 Fix pulled card handling
  server/game/cards/10-BMR/108DrunkenMasters.js
  server/game/cards/11-TCaR/EzekiahGrimme.js
  server/game/gamesteps/abilityresolver.js
Labels: bug

#1213 Card: Victor "Nines" de Boré, "Professor" Duncan (Exp.1)
  docs/cardpool-status.md
  server/game/cards/01-DTR/BloodCurse.js
  server/game/cards/15-W2D/ProfessorDuncanExp1.js
  server/game/cards/15-W2D/VictorNinesDeBore.js
  server/game/cards/16-DTR2/BloodCurse2.js
  server/game/gamelocation.js
Labels: card-script

#1215 Card: Jack McCall, Rock Woofstone
  docs/cardpool-status.md
  server/game/cards/14-HCWM/RockWoofstone.js
  server/game/cards/15-W2D/JackMcCall.js
  server/game/cards/15-W2D/LewisGrizzlyEvans.js
  server/game/gamesteps/shootout.js
Labels: card-script

#1216 Card: New Varney Nosferatu, Willa Mae MacGowan (Exp.1)
  docs/cardpool-status.md
  server/game/cards/15-W2D/NewVarneyNosferatu.js
  server/game/cards/15-W2D/WillaMaeMacGowanExp1.js
Labels: card-script

#1217 Card: Cheyenne Club, The Gem Theatre
  docs/cardpool-status.md
  server/game/cards/15-W2D/CheyenneClub.js
  server/game/cards/15-W2D/TheGemTheater.js
Labels: card-script

#1169 Implement React timer plus A Slight Modification
  docs/cardpool-status.md
  server/api/account.js
  server/game/EventTrackers/EventPlayedTracker.js
  server/game/EventTrackers/PaidGoldTracker.js
  server/game/EventTrackers/ParticipationTracker.js
  server/game/EventTrackers/index.js
  server/game/baseability.js
  server/game/basecard.js
  server/game/cardbeforereaction.js
  server/game/cards/07.1-DDeeds/ASlightModification.js
  server/game/chatcommands.js
  server/game/costs.js
  server/game/game.js
  server/game/gamesteps/CancelTimer.js
  server/game/gamesteps/ReactTimer.js
  server/game/gamesteps/ReactionBeforeWindow.js
  server/game/gamesteps/TriggeredAbilityWindow.js
  server/game/gamesteps/TriggeredAbilityWindowTitles.js
  server/game/gamesteps/abilityresolver.js
  server/game/player.js
  server/game/playerpromptstate.js
  server/game/spellbeforereaction.js
  server/game/triggeredability.js
  server/models/User.js
  server/settings.js
  test/helpers/playerinteractionwrapper.js
  test/server/gamesteps/TriggeredAbilityWindow.spec.js
  test/server/gamesteps/abilityresolver.spec.js
  test/server/gamesteps/eventwindow.spec.js
  test/server/integration/shootoutphase.spec.js
Labels: enhancement, card-script, refactor, ui

#1219 Card: "Dynamite" Jacc, Nuttal & Mann's No. 10 Saloon
  docs/cardpool-status.md
  server/game/cards/15-W2D/DynamiteJacc.js
  server/game/cards/15-W2D/NuttalMannsNo10Saloon.js
Labels: card-script

#1220 Card: Feathered Friend, Elk's Protection
  docs/cardpool-status.md
  server/game/cards/15-W2D/ElksProtection.js
  server/game/cards/15-W2D/FeatheredFriend.js
  server/game/dudecard.js
  server/game/player.js
Labels: card-script

#1221 Card: Mark of War, We stand Amazed
  docs/cardpool-status.md
  server/game/cards/15-W2D/MarkOfWar.js
  server/game/cards/15-W2D/WeStandAmazed.js
Labels: card-script

#1222 Card: Tse-Che-Nako's Weaving, Silver Pheasant's Bounty
  docs/cardpool-status.md
  server/game/cards/09.1-TCR/SilverPheasantsBounty.js
  server/game/cards/10-BMR/TseCheNakosWeaving.js
Labels: card-script

#1224 Card: Wei Xu, Eva Bright Eyes
  docs/cardpool-status.md
  server/game/cards/10-BMR/EvaBrightEyes.js
  server/game/cards/10-BMR/WeiXu.js
  server/game/dudecard.js
  server/game/effects.js
Labels: card-script

#1225 Card: Rosaleen Byrne, Clint Ramsey (Exp.1)
  docs/cardpool-status.md
  server/game/cards/15-W2D/ClintRamseyExp1.js
  server/game/cards/15-W2D/RosaleenByrne.js
Labels: card-script

#1226 Card: Missed Me!, Kinetic Accretion Actualizer
  docs/cardpool-status.md
  server/game/abilityusage.js
  server/game/cards/15-W2D/KineticAccretionActualizer.js
  server/game/cards/15-W2D/MissedMe.js
Labels: card-script

#1227 Card: Bad Beat, Play for Blood
  docs/cardpool-status.md
  server/game/cards/01-DTR/BottomDealin.js
  server/game/cards/15-W2D/BadBeat.js
  server/game/cards/15-W2D/PlayForBlood.js
Labels: card-script

#1234 Card: Huang Li, Deadwood Dick
  docs/cardpool-status.md
  server/game/cards/15-W2D/DeadwoodDick.js
  server/game/cards/15-W2D/HuangLi.js
Labels: card-script

#1171 implements Skinwalker
  docs/cardpool-status.md
  server/game/cards/12-2T2D/Skinwalker.js
  server/game/gamesteps/shootout/shootoutposse.js
Labels: card-script

#1236 Card: Swagger, Masonic Augment
  docs/cardpool-status.md
  server/game/AbilityContext.js
  server/game/basecard.js
  server/game/cards/15-W2D/MasonicAugment.js
  server/game/cards/15-W2D/Swagger.js
  server/game/cards/16-DTR2/RaggedMule.js
  server/game/costs/DiscardFromPlayCost.js
Labels: card-script

#1237 Card: Extortion, Mourning Mist
  docs/cardpool-status.md
  server/game/cards/01-DTR/Extortion.js
  server/game/cards/15-W2D/MourningMist.js
Labels: card-script

#1238 Fix Dr. JT Goodenough
  server/game/cards/15-W2D/DrJTGoodenough.js
Labels: bug, card-script

#1241 Fix Shadow Walk
  server/game/cards/01-DTR/ShadowWalk.js
Labels: bug, card-script

#1242 Update deck helper to 1.0.9
  package-lock.json
  package.json
Labels: dependency

#1249 First player should not be reset
  server/game/player.js
Labels: bug

#1251 Dependency updates
  package-lock.json
  package.json
Labels: dependency

#1252 Card: Eagle Wardens, Den of Thieves
  docs/cardpool-status.md
  server/game/cards/05-IOUF/EagleWardens.js
  server/game/cards/06-TLS/DenOfThieves.js
  server/game/gamesteps/setup/startingposseprompt.js
  server/game/player.js
Labels: card-script :flower_playing_cards:

#1254 Card: Justice In Exile, Gateway to Beyond
  docs/cardpool-status.md
  server/game/cards/10-BMR/GatewayToBeyond.js
  server/game/cards/10-BMR/JusticeInExile.js
  server/game/player.js
Labels: card-script :flower_playing_cards:

#1261 Add message for Lowball ante
  server/game/gamesteps/gamblingphase.js
Labels: messaging

#1260 Refactor rank modification
  server/game/cards/01-DTR/BartonEverest.js
  server/game/cards/01-DTR/CheatinVarmint.js
  server/game/cards/01-DTR/ForceField.js
  server/game/cards/01-DTR/HexSlingin.js
  server/game/cards/01-DTR/MagicalDistraction.js
  server/game/cards/01-DTR/TommyHarden.js
  server/game/cards/02.2-DD/ItsNotWhatYouKnow.js
  server/game/cards/07.2-FP/Outgunned.js
  server/game/cards/07.3-BadM/LeMatRevolver.js
  server/game/cards/11-TCaR/Censure.js
  server/game/cards/11-TCaR/TheWinningAgenda.js
  server/game/cards/12-2T2D/Bedazzle.js
  server/game/cards/12-2T2D/RangersBible.js
  server/game/cards/14-HCWM/VirgilEarp.js
  server/game/cards/15-W2D/MissedMe.js
  server/game/cards/15-W2D/PlayForBlood.js
  server/game/cards/16-DTR2/BakerAndrews.js
  server/game/cards/16-DTR2/BassReeves.js
  server/game/cards/16-DTR2/LeMatRevolver2.js
  server/game/player.js
Labels: refactor :bomb:

#1262 Card: Buried Treasure, Benjamin Washington
  docs/cardpool-status.md
  server/game/cards/04.3-NN/BuriedTreasure.js
  server/game/cards/05-IOUF/BenjaminWashington.js
Labels: card-script :black_joker:

#1263 Fix FlintsAmusements.js
  server/game/cards/04.3-NN/FlintsAmusements.js
  test/server/cards/cancreatecards.spec.js
Labels: bug :bug:, card-script :black_joker:

#1128 Card: TLS - Tummy Twister
  docs/cardpool-status.md
  server/game/SimultaneousEvents.js
  server/game/cards/06-TLS/TummyTwister.js
Labels: card-script :black_joker:

#1265 Card: Janosz Pratt, The Ghostly Gun
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cards/01-DTR/TheGhostlyGun.js
  server/game/cards/07.3-BadM/JanoszPratt.js
Labels: card-script :black_joker:

#1266 Card: Antoine Peterson, Essence of Armitage
  docs/cardpool-status.md
  server/game/GameActions/SendHome.js
  server/game/cards/09.1-TCR/EssenceOfArmitage.js
  server/game/cards/09.2-AGE/AntoinePeterson.js
  server/game/gamesteps/shootout/runorgunprompt.js
Labels: card-script :black_joker:

#1267 Update chatcommands when affecting opponent
  server/game/chatcommands.js
  server/game/gamesteps/ChooseYesNoPrompt.js
Labels: enhancement :rocket:, chat-commands

#1270 Solo: Automaton skeleton
  server/game/automaton.js
  server/game/game.js
  server/game/player.js
  server/game/spectator.js
Labels: solo

#1276 Allow attach command from "being played" pile
  server/game/chatcommands.js
Labels: chat-commands

#1277 Solo: Initialization of Automaton
  server/game/automaton.js
  server/game/game.js
  server/gamenode/gameserver.js
  server/lobby.js
  server/pendinggame.js
Labels: solo

#1285 Solo: Gambling Phase
  server/game/automaton.js
  server/game/gamesteps/gambling/cheatingresolutionprompt.js
  server/game/gamesteps/gamblingphase.js
  server/game/gamesteps/shootout/drawhandprompt.js
  server/game/gamesteps/uiprompt.js
Labels: solo

#1286 Solo: Upkeep phase
  server/game/automaton.js
  server/game/gamesteps/gambling/cheatingresolutionprompt.js
  server/game/gamesteps/upkeep/upkeepprompt.js
Labels: solo

#1274 Card: DD - Leonardo Cavallo
  docs/cardpool-status.md
  server/game/cards/02.2-DD/LeonardoLeonCavallo.js
Labels: card-script :black_joker:

#1289 Solo: Update Play Window
  server/game/gamesteps/playwindow.js
  server/game/gamesteps/uiprompt.js
Labels: solo

#1292 Update prompts to have player decide for Automaton
  server/game/gamesteps/ChooseYesNoPrompt.js
  server/game/gamesteps/menuprompt.js
  server/game/gamesteps/selectcardprompt.js
  server/game/gamesteps/valueprompt.js
Labels: solo

#1299 Solo: Gunslinger Archetype skeleton
  server/game/Solo/Archetypes/GunslingerArchetype.js
  server/game/Solo/automaton.js
  server/game/dudecard.js
  server/game/game.js
  server/game/player.js
Labels: solo

#1301 Solo: Update chat-commands
  server/game/chatcommands.js
Labels: chat-commands, solo

#1300 Solo: Select posse and pick shooter
  server/game/Solo/Archetypes/GunslingerArchetype.js
  server/game/Solo/automaton.js
  server/game/gamesteps/shootout/pickyershooterprompt.js
  server/game/gamesteps/shootout/shootoutposseprompt.js
Labels: solo

#1303 Fix Rham's Readings
  server/game/cards/14-HCWM/RhamsReadings.js
Labels: bug :bug:, card-script :black_joker:
