Repository townteki/townsquare, pull requests merged in 2021-03, with the labels that each got.

#63 Another 4Ring dudes
  server/game/GameActions/DiscardCard.js
  server/game/GameActions/PutIntoPlay.js
  server/game/GameActions/Search.js
  server/game/PlayActions/PutIntoPlayCardAction.js
  server/game/basecard.js
  server/game/cards/01-DTR/EveHenry.js
  server/game/cards/01-DTR/IvorHawley.js
  server/game/cards/01-DTR/JiaMein.js
  server/game/cards/01-DTR/KevinWainwright.js
  server/game/cards/01-DTR/Tyxarglenak.js
  server/game/cards/cards_summary.csv
  server/game/effects.js
  server/game/player.js
Labels: card-script

#82 Implemented The Pharmacy
  server/game/cards/01-DTR/ThePharmacy.js
  server/game/cards/01-DTR/YanLisTailoring.js
Labels: card-script

#100 Implemented Reserves
  server/game/cards/01-DTR/Reserves.js
Labels: card-script

#102 Implemented Irving Patterson
  server/game/cards/01-DTR/IrvingPatterson.js
Labels: card-script

#131 Update townsquare-deck-helper dependency
  package-lock.json
  package.json
  server/lobby.js
  townsquare-deck-helper/DeckValidator.js
  townsquare-deck-helper/RestrictedList.js
  townsquare-deck-helper/formatDeckAsFullCards.js
  townsquare-deck-helper/formatDeckAsShortCards.js
  townsquare-deck-helper/index.js
Labels: dependency

#130 Implemented Cheatin' Varmint
  server/game/cards/01-DTR/CheatinVarmint.js
Labels: card-script

#134 RailroadStation implementation
  server/game/cards/01-DTR/RailroadStation.js
Labels: card-script

#137 Create contributing guide
  README.md
  docs/contributing.md
Labels: documentation

#183 Implemented Lane Healey
  server/game/cards/01-DTR/LaneHealey.js
Labels: card-script

#196 Morgan Research institute
  server/game/cards/01-DTR/IvorHawley.js
  server/game/cards/01-DTR/MorganResearchInstitute.js
  server/game/dudecard.js
  server/game/effects.js
Labels: card-script

#197 establishin whos in charge card implemention
  server/game/cards/01-DTR/EstablishinWhosinCharge.js
Labels: card-script

#184 Legends: Doc Holliday
  .vscode/townsquare.code-snippets
  docs/cardpool-status.md
  server/game/cardaction.js
  server/game/cards/13-O4B/DocHolliday.js
  server/game/dudecard.js
  server/game/effect.js
  server/game/effects.js
  server/game/player.js
Labels: card-script

#198 Implemented Point Blank
  docs/cardpool-status.md
  server/game/AbilityTarget.js
  server/game/cards/01-DTR/PointBlank.js
Labels: card-script

#200 Card: Flame-Thrower
  server/game/cards/01-DTR/FlameThrower.js
  server/game/costs.js
  server/game/costs/XValuePrompt.js
  server/game/effectengine.js
  server/game/effects.js
  server/game/gamesteps/shootout.js
  server/game/player.js
Labels: card-script

#203 Card: James Ghetty and Auto-Revolver
  docs/cardpool-status.md
  server/game/GhostRockSource.js
  server/game/PlayActions/CustomPlayAction.js
  server/game/basecard.js
  server/game/cardaction.js
  server/game/cards/01-DTR/AutoRevolver.js
  server/game/cards/01-DTR/JamesGhetty.js
  server/game/cards/01-DTR/QuickdrawHandgun.js
  server/game/cards/01-DTR/Shotgun.js
  server/game/cards/04.1-FJ/WinchesterModel1873.js
  server/game/cards/07.3-BadM/LeMatRevolver.js
  server/game/costs.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/gamesteps/shootout/drawhandprompt.js
  server/game/playTypeAbility.js
  server/game/player.js
Labels: card-script

#201 Implemented The Winning Agenda
  docs/cardpool-status.md
  server/game/cards/11-TCaR/TheWinningAgenda.js
  server/game/player.js
Labels: card-script

#205 Card: Jon Longstride
  docs/cardpool-status.md
  server/game/cards/01-DTR/JonLongstride.js
Labels: card-script

#206 Card: Pinned Down and Unprepared
  server/game/PlayActions/CustomPlayAction.js
  server/game/PlayActions/PutIntoPlayCardAction.js
  server/game/baseability.js
  server/game/basecard.js
  server/game/cardaction.js
  server/game/cards/01-DTR/PinnedDown.js
  server/game/cards/01-DTR/Unprepared.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/gamesteps/shootout/pickyershooterprompt.js
  server/game/gamesteps/shootout/takeyerlumpsprompt.js
  server/game/playTypeAbility.js
  server/game/player.js
  server/game/triggeredability.js
Labels: card-script

#208 Card: Jarret Blake
  docs/cardpool-status.md
  server/game/cardaction.js
  server/game/cards/01-DTR/AllieHensman.js
  server/game/cards/01-DTR/CircleMRanch.js
  server/game/cards/01-DTR/JarretBlake.js
  server/game/cards/02.1-NTNR/UlyssesMarks.js
  server/game/cards/04.3-NN/FlintsAmusements.js
Labels: card-script

#210 Implemented Devil's Six Gun
  docs/cardpool-status.md
  server/game/CardSelector.js
  server/game/cardaction.js
  server/game/cards/11-TCaR/DevilsSixGun.js
  server/game/game.js
  server/game/gamesteps/InterruptWindow.js
  server/game/player.js
  test/server/gamesteps/eventwindow.spec.js
Labels: card-script

#188 Legends: Integration test
  test/helpers/DeckBuilder.js
  test/helpers/integrationhelper.js
  test/server/cards/01-DTR/Shotgun.spec.js
  test/server/integration/AbilityLimits.spec.js
  test/server/integration/AbilityRequirements.spec.js
  test/server/integration/Attachments.spec.js
  test/server/integration/jobaction.spec.js
  test/server/integration/legend.spec.js
  test/server/integration/traitreactionorder.spec.js
Labels: tests

#216 Card: Takin Ya With Me and Bunkhouse
  server/game/cards/01-DTR/Bunkhouse.js
  server/game/cards/01-DTR/TakinYaWithMe.js
  server/game/gamesteps/shootout/takeyerlumpsprompt.js
  server/game/triggeredability.js
Labels: card-script

#211 Hex Slingin
  docs/cardpool-status.md
  server/game/cards/01-DTR/HexSlingin.js
  server/game/costs.js
  server/game/costs/CostBuilders.js
  server/game/costs/DiscardFromPlayCost.js
Labels: card-script

#217 Card: Elander Boldman and pull refactor
  server/game/cards/01-DTR/AutoRevolver.js
  server/game/cards/01-DTR/ElanderBoldman.js
  server/game/cards/01-DTR/FlameThrower.js
  server/game/cards/01-DTR/QuickdrawHandgun.js
  server/game/cards/01-DTR/Shotgun.js
  server/game/cards/04.1-FJ/WinchesterModel1873.js
  server/game/cards/06-TLS/SamanthaSammyCooke.js
  server/game/cards/07.3-BadM/LeMatRevolver.js
  server/game/cards/11-TCaR/DevilsSixGun.js
  server/game/costs.js
  server/game/drawcard.js
  server/game/gamesteps/abilityresolver.js
  server/game/gamesteps/jokerprompt.js
  server/game/goodscard.js
  server/game/player.js
  server/game/spell.js
Labels: card-script

#219 Card: Run 'Em Down and Harold Aimslee
  docs/cardpool-status.md
  docs/implementing-cards.md
  server/game/AbilityTarget.js
  server/game/CardMatcher.js
  server/game/CardSelectors/BaseCardSelector.js
  server/game/cards/01-DTR/HaroldAimslee.js
  server/game/cards/01-DTR/RunEmDown.js
  server/game/dudecard.js
  server/game/game.js
  server/game/gamelocation.js
  server/game/gamesteps/selectlocationprompt.js
Labels: card-script
