Repository townteki/townsquare, pull requests merged in 2021-10, with the labels that each got.

#1084 Update Breakin' and Enterin' bounties
  server/game/GameActions/JoinPosse.js
  server/game/gamesteps/shootout.js
Labels: bug

#1083 Fix various bugs
  server/game/CardVisibility.js
  server/game/game.js
  server/game/player.js
  test/server/game/tiebreakers.spec.js
Labels: bug

#1086 Card: Shortcut, Thirst for Blood
  server/game/cards/16-DTR2/Shortcut.js
  server/game/cards/16-DTR2/ThirstForBlood.js
  server/game/gamesteps/TriggeredAbilityWindowTitles.js
Labels: card-script

#1088 Card: Farnum's Consortium, Black Hills Guardians
  .vscode/townsquare.code-snippets
  server/game/Deck.js
  server/game/cards/16-DTR2/BlackHillsGuardians.js
  server/game/cards/16-DTR2/FarnumsConsortium.js
Labels: card-script

#1087 Card: TLS - Margaret Hagerty
  docs/cardpool-status.md
  server/game/cards/06-TLS/MargaretHagerty.js
Labels: card-script

#1091 Fix Technological Exhibition
  server/game/cards/08-GT/TechnologicalExhibition.js
Labels: bug, card-script

#1090 Card: Belligerence, Baker Andrews
  server/game/cards/16-DTR2/BakerAndrews.js
  server/game/cards/16-DTR2/Belligerence.js
  server/game/costs.js
  server/game/costs/CostBuilder.js
Labels: card-script

#1093 Card: Ridden Down
  docs/cardpool-status.md
  server/game/cards/01-DTR/PistolWhip.js
  server/game/cards/02.3-EDS/RiddenDown.js
  server/game/cards/06-TLS/RabbitsDeception.js
  server/game/cards/07.1-DDeeds/PersonalOrnithopter.js
  server/game/cards/07.2-FP/MarielLewis.js
  server/game/cards/11-TCaR/Censure.js
  server/game/cards/11-TCaR/ChargingBear.js
  server/game/cards/12-2T2D/OldWashoeClub.js
  server/game/cards/12-2T2D/SilasAimsExp1.js
  server/game/cards/12-2T2D/XiongWendyChengExp1.js
  server/game/cards/13-O4B/DancingButterfly.js
  server/game/cards/13-O4B/DrGregoryTremane.js
  server/game/cards/14-HCWM/SeizingThePearlOfDeath.js
  server/game/cards/16-DTR2/RiddenDown2.js
Labels: card-script

#1094 Card: Alfred Byrne, Landon Grimes
  server/game/cards/16-DTR2/AlfredByrne.js
  server/game/cards/16-DTR2/LandonGrimes.js
Labels: card-script

#1095 Card: TCR - The Highbinder Hotel
  docs/cardpool-status.md
  server/game/cards/09.1-TCR/TheHighbinderHotel.js
Labels: card-script

#1098 Card: Desolation Row
  docs/cardpool-status.md
  server/game/cards/03-FF/DesolationRow.js
  server/game/gamesteps/shootout.js
Labels: card-script

#1096 Card: E.B.Farnum, Hao-T’e Zui
  server/game/Constants/Factions.js
  server/game/cards/06-TLS/IvorHawleyExp1.js
  server/game/cards/07.1-DDeeds/ZacharyDeloria.js
  server/game/cards/08-GT/WagnerMemorialRanch.js
  server/game/cards/11-TCaR/MorganLash.js
  server/game/cards/11-TCaR/ZebWhateleyDupont.js
  server/game/cards/13-O4B/DrGregoryTremane.js
  server/game/cards/13-O4B/WyattEarp.js
  server/game/cards/14-HCWM/JonahEssexExp1.js
  server/game/cards/16-DTR2/BassReeves.js
  server/game/cards/16-DTR2/EBFarnum.js
  server/game/cards/16-DTR2/EagleWomanThatAllLookAt.js
  server/game/cards/16-DTR2/HaoTeZui.js
  server/game/cards/16-DTR2/JessicaPatchett.js
  server/game/cards/16-DTR2/UrsulaTheWormQueen.js
  server/game/cards/16-DTR2/ZacharyDeloria2.js
  server/game/player.js
Labels: card-script

#1097 Card: Polite Inquiries, Laura Banks, Silver-Weaved Staff
  server/game/cards/16-DTR2/LauraBanks.js
  server/game/cards/16-DTR2/PoliteInquiries.js
  server/game/cards/16-DTR2/SilverWeavedStaff.js
  server/game/player.js
Labels: card-script

#1099 Card: Crushing Inevitability, Rabbit's Sweeping Snare
  server/game/cards/07.1-DDeeds/RabbitTakesRevenge.js
  server/game/cards/16-DTR2/CrushingInevitability.js
  server/game/cards/16-DTR2/RabbitsSweepingSnare.js
  server/game/gamesteps/shootout/shootoutposse.js
Labels: card-script

#1100 Draw hand popup updates
  server/game/gamesteps/shootout/drawhandprompt.js
  server/game/playerpromptstate.js
Labels: ui

#1104 Fix OoT deed's clones
  server/game/player.js
Labels: bug

#1101 Remove default card boot/unboot
  server/game/basecard.js
  server/game/game.js
Labels: bug

#1177 Card: Champion, Wrathful Spider
  docs/cardpool-status.md
  server/game/cards/13-O4B/Champion.js
  server/game/cards/13-O4B/WrathfulSpider.js
Labels: card-script

#1178 Card: Schieffelin Hall, Kiva of Fathomless Reach
  docs/cardpool-status.md
  server/game/cards/14-HCWM/KivaOfFathomlessReach.js
  server/game/cards/14-HCWM/SchieffelinHall.js
Labels: card-script

#1179 Card: Gage Export Co., Twilight Is Upon Us
  docs/cardpool-status.md
  server/game/GameActions/ShuffleIntoDeck.js
  server/game/cards/13-O4B/GageExportCo.js
  server/game/cards/13-O4B/TwilightIsUponUs.js
  server/game/chatcommands.js
  server/game/player.js
  test/server/game/chatcommands.spec.js
Labels: card-script

#1184 Update Upkeep discard prompt
  server/game/GameActions/DiscardCard.js
  server/game/gamesteps/upkeep/upkeepprompt.js
  server/game/player.js
  test/helpers/gameflowwrapper.js
Labels: enhancement

#1181 Card: DTR - Gomorra Parish
  docs/cardpool-status.md
  server/game/cards/01-DTR/GomorraParish.js
Labels: card-script

#1185 Card: E Gui, Ying-Ssi Chieh T'ang
  .vscode/townsquare.code-snippets
  docs/cardpool-status.md
  server/game/cards/11-TCaR/DevilsSixGun.js
  server/game/cards/12-2T2D/EGui.js
  server/game/cards/12-2T2D/YingSsiChiehTang.js
  server/game/gamesteps/selectcardprompt.js
Labels: card-script

#1186 Card: Gateway, Ranger's Bible
  docs/cardpool-status.md
  server/game/cards/12-2T2D/Gateway.js
  server/game/cards/12-2T2D/RangersBible.js
  server/game/gamesteps/abilityresolver.js
Labels: card-script

#1187 Card: Geronimo, Feichi "Suitcase" Lee
  docs/cardpool-status.md
  server/game/cards/12-2T2D/FeichiSuitcaseLee.js
  server/game/cards/12-2T2D/Geronimo.js
Labels: card-script

#1188 Card: Buskers, Tonton Macoute
  docs/cardpool-status.md
  server/game/cards/01-DTR/CharliesPlace.js
  server/game/cards/12-2T2D/Buskers.js
  server/game/cards/12-2T2D/TontonMacoute.js
Labels: card-script
