Repository townteki/townsquare, pull requests merged in 2021-09, with the labels that each got.

#861 Card: Hostile Takeover, Frontier Feud
  docs/cardpool-status.md
  server/game/cards/12-2T2D/HostileTakeover.js
  server/game/cards/14-HCWM/FrontierFeud.js
  server/game/dudecard.js
Labels: card-script

#885 Fix add card chat-command for Tokens
  server/game/chatcommands.js
Labels: bug, chat-commands

#886 Fix some bugs after test play
  server/game/cards/01-DTR/Gunslinger.js
  server/game/cards/11-TCaR/Remedy.js
  server/game/cards/11-TCaR/WangMenWu.js
  server/game/gamesteps/shootout.js
  server/game/gamesteps/shootout/pickyershooterprompt.js
  server/game/gamesteps/shootout/shootoutposse.js
  server/game/locationcard.js
Labels: bug

#887 Disable Raven temporarily
  server/gamenode/gameserver.js
  server/socket.js
Labels: bug

#879 Card: Roberto Muratore, Adrian Vallejo
  docs/cardpool-status.md
  server/game/cards/01-DTR/MagicalDistraction.js
  server/game/cards/02.1-NTNR/TheRDRanch.js
  server/game/cards/07.2-FP/XemosTurban.js
  server/game/cards/09.3-TSs/GrimoiresAndMore.js
  server/game/cards/11-TCaR/AdrianVallejo.js
  server/game/cards/12-2T2D/ElectrostaticPumpGun.js
  server/game/cards/13-O4B/RobertoMuratore.js
  server/game/cards/16-DTR2/TrickShooting.js
  server/game/player.js
Labels: card-script

#881 Card: Fate Dispenser, Ol'Howard
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cards/04.3-NN/FateDispenser.js
  server/game/cards/05-IOUF/SpiritTrail.js
  server/game/cards/06-TLS/FireOfNanahbozho.js
  server/game/cards/08-GT/OlHoward.js
  server/game/cards/16-DTR2/FireOfNanahbozho2.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/goodscard.js
  server/game/player.js
Labels: card-script

#884 Card: Morgan Gadgetorium, Forced Quarantine
  docs/cardpool-status.md
  server/game/cards/03-FF/MorganGadgetorium.js
  server/game/cards/06-TLS/ForcedQuarantine.js
  server/game/player.js
  server/game/triggeredability.js
Labels: card-script

#891 Raven setup for Sentry
  server/gamenode/gameserver.js
  server/gamenode/zmqsocket.js
  server/gamerouter.js
  server/socket.js
Labels: enhancement

#889 Card: Miasmatic Purifier, Wagner Memorial Ranch
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cards/03-FF/MorganGadgetorium.js
  server/game/cards/07.1-DDeeds/MiasmaticPurifier.js
  server/game/cards/08-GT/WagnerMemorialRanch.js
  server/game/gamesteps/setup/startingposseprompt.js
  server/game/gamesteps/sundownphase.js
  server/game/goodscard.js
  server/game/player.js
Labels: card-script

#892 Card: Puppet, Enrique Dos Santos
  docs/cardpool-status.md
  server/game/cards/02.3-EDS/Puppet.js
  server/game/cards/13-O4B/EnriqueDosSantos.js
Labels: card-script

#894 Card: Frank Stillwell, Longwei Fu
  docs/cardpool-status.md
  server/game/cards/05-IOUF/LongweiFu.js
  server/game/cards/12-2T2D/FrankStillwell.js
Labels: card-script

#909 Fix some Mad Gadget cards
  server/game/cards/03-FF/WilliamSpecks.js
  server/game/cards/07.2-FP/OldMargesManor.js
Labels: bug

#910 Fix tiebreaker issue
  server/game/handresult.js
Labels: bug

#911 Fix starting posse visibility
  server/game/CardVisibility.js
  server/game/basecard.js
  test/server/CardVisibility.spec.js
Labels: bug, ui

#905 Card: The Extra Bet, De Annulos Mysteriis
  docs/cardpool-status.md
  server/game/cards/06-TLS/TheExtraBet.js
  server/game/cards/10-BMR/DeAnnulosMysteriis.js
  server/game/chatcommands.js
  server/game/game.js
  server/game/gamesteps/gamblingphase.js
  server/game/gamesteps/shootout.js
  server/game/player.js
  test/server/GameActions/DrawCards.spec.js
Labels: card-script

#908 Card: Tlaloc's Furies, Cookin' Up Trouble
  docs/cardpool-status.md
  server/game/cards/04.2-NTB/CookinUpTrouble.js
  server/game/cards/04.2-NTB/LaQuema.js
  server/game/cards/07.1-DDeeds/TlalocsFuries.js
  server/game/effects.js
  server/game/heartscard.js
Labels: card-script

#912 Card: Xiang Fang, John "Aces" Radcliffe
  docs/cardpool-status.md
  server/game/cards/04.3-NN/JohnAcesRadcliffe.js
  server/game/cards/07.1-DDeeds/XiangFang.js
Labels: card-script

#920 Fix Cliff's #4 Saloon condition
  server/game/cards/07.3-BadM/CliffsNo4Saloon.js
Labels: bug

#915 Card: Hiram Capatch, Abuelita Espinoza
  docs/cardpool-status.md
  server/game/cards/05-IOUF/AbuelitaEspinoza.js
  server/game/cards/05-IOUF/HiramCapatch.js
Labels: card-script

#916 Card: Vamoosin', Mario Crane
  docs/cardpool-status.md
  server/game/cards/02.2-DD/MarioCrane.js
  server/game/cards/03-FF/HolyRoller.js
  server/game/cards/15-W2D/Vamoosin.js
Labels: card-script

#917 Card: J.W.Byrne, Jimmy "The Saint"
  docs/cardpool-status.md
  server/game/cards/04.1-FJ/JWByrne.js
  server/game/cards/10-BMR/JimmyTheSaint.js
Labels: card-script

#918 Card: The Arsenal, Burn 'Em Out
  docs/cardpool-status.md
  server/game/cards/03-FF/TheArsenal.js
  server/game/cards/10-BMR/BurnEmOut.js
Labels: card-script

#919 Card: Andrew Lane, Aetheric Shockwave Inducer
  docs/cardpool-status.md
  server/game/cards/03-FF/FasterOnTheDraw.js
  server/game/cards/09.3-TSs/AethericShockwaveInducer.js
  server/game/cards/14-HCWM/AndrewLane.js
Labels: card-script

#925 Fix Ol'Howard
  server/game/cards/08-GT/OlHoward.js
Labels: bug

#930 Fix TypeError in JoanMcGruder
  server/game/cards/14-HCWM/JoanMcGruder.js
Labels: bug

#926 Card: He Fang, Nicholas Kramer
  docs/cardpool-status.md
  server/game/cards/07.1-DDeeds/HeFang.js
  server/game/cards/09.3-TSs/NicholasKramer.js
Labels: card-script

#927 Card: Yasmin Tian, Look What I Found!
  docs/cardpool-status.md
  server/game/cards/15-W2D/LookWhatIFound.js
  server/game/cards/15-W2D/YasminTian.js
Labels: card-script

#928 Card: Pedro, Doomsday Supply
  docs/cardpool-status.md
  server/game/cardaction.js
  server/game/cards/09.2-AGE/DoomsdaySupply.js
  server/game/cards/09.3-TSs/Pedro.js
  server/game/cards/11-TCaR/BuffaloEmporium.js
  server/game/costs.js
Labels: card-script

#932 Update Padre Ernesto de Diaz's trait
  server/game/cards/12-2T2D/PadreErnestodeDiaz.js
Labels: bug

#934 Do not allow /done and /pass on Gamblin'
  server/game/chatcommands.js
Labels: bug

#935 Update JsDocs to enable context help
  server/game/AbilityContext.js
  server/game/AbilityTarget.js
  server/game/CardMatcher.js
  server/game/basecard.js
  server/game/cardaction.js
  server/game/cardreaction.js
  server/game/commontypedef.js
  server/game/jobaction.js
  server/game/spellaction.js
  server/game/spellreaction.js
  server/game/techniqueaction.js
  server/game/traittriggeredability.js
Labels: documentation

#931 Card: Marty, High Stakes Haven
  docs/cardpool-status.md
  server/game/cards/07.2-FP/Marty.js
  server/game/cards/09.1-TCR/HighStakesHaven.js
  server/game/cards/10-BMR/DiegoLinares.js
Labels: card-script

#938 Card: Father Tolarios, Kyle Wagner
  .vscode/townsquare.code-snippets
  docs/cardpool-status.md
  server/game/CardMatcher.js
  server/game/basecard.js
  server/game/cardaction.js
  server/game/cardreaction.js
  server/game/cards/02.1-NTNR/KyleWagner.js
  server/game/cards/10-BMR/FatherTolarios.js
  server/game/commontypedef.js
  server/game/costs.js
  server/game/jobaction.js
  server/game/spellaction.js
  server/game/spellreaction.js
  server/game/techniqueaction.js
  server/game/traittriggeredability.js
Labels: card-script

#942 Fix cancel shootout chatcommand
  server/game/chatcommands.js
  server/game/game.js
  server/game/gamesteps/basestep.js
  server/game/gamesteps/playwindow.js
  server/game/gamesteps/shootout.js
  server/game/gamesteps/shootout/drawhandprompt.js
  server/game/gamesteps/shootout/pickyershooterprompt.js
  server/game/gamesteps/shootout/runorgunprompt.js
  server/game/gamesteps/shootout/shootoutorderprompt.js
  server/game/gamesteps/shootout/takeyerlumpsprompt.js
  server/gamenode/gameserver.js
Labels: bug, chat-commands

#946 Auto Cattle-Feeder
  docs/cardpool-status.md
  server/game/cards/01-DTR/AutoCattleFeeder.js
Labels: card-script

#948 Fix Gadget deeds inventing
  server/game/player.js
Labels: bug

#949 Card: Scattergun, Guiding Light
  docs/cardpool-status.md
  server/game/cards/13-O4B/GuidingLight.js
  server/game/cards/13-O4B/Scattergun.js
  server/game/costs.js
  server/game/player.js
Labels: card-script

#950 Card: Espuelas, The 108 Righteous Bandits
  docs/cardpool-status.md
  server/game/CardSelectors/BaseCardSelector.js
  server/game/cards/05-IOUF/The108RighteousBandits.js
  server/game/cards/09.1-TCR/Espuelas.js
Labels: card-script

#951 Card: Master Shou, Steph & Gertie's Tonsorium
  docs/cardpool-status.md
  server/game/cards/13-O4B/MasterShou.js
  server/game/cards/13-O4B/StephGertiesTonsorium.js
Labels: card-script

#952 Card: "Dead" Billy Jones, Fiery Rhetoric
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cards/06-TLS/DeadBillyJones.js
  server/game/cards/06-TLS/FieryRhetoric.js
  server/game/spelljobaction.js
Labels: card-script

#954 Card: Abram's Crusaders, Lula's Exploit
  docs/cardpool-status.md
  server/game/cards/04.3-NN/LulasExploit.js
  server/game/cards/06-TLS/AbramsCrusaders.js
Labels: card-script

#957 Remove Info message for Deed controller change
  server/game/gamelocation.js
Labels: messaging

#964 Fix some issues
  server/game/GameActions/GameAction.js
  server/game/GameActions/JoinPosse.js
  server/game/GameActions/MoveDude.js
  server/game/GameActions/SendHome.js
  server/game/basecard.js
  server/game/cards/12-2T2D/Ricochet.js
  server/game/cards/14-HCWM/JoanMcGruder.js
  server/game/gamesteps/shootout/runorgunprompt.js
  server/game/gamesteps/shootout/takeyerlumpsprompt.js
  test/server/GameActions/GameAction.spec.js
Labels: bug

#955 GT:Auto-Gatling
  docs/cardpool-status.md
  server/game/cards/08-GT/AutoGatling.js
Labels: card-script

#956 Card: BMR - Gomorra Gaming Commission
  docs/cardpool-status.md
  server/game/cards/10-BMR/GomorraGamingCommission.js
Labels: card-script

#959 One Good Turn...
  docs/cardpool-status.md
  server/game/cards/01-DTR/OneGoodTurn.js
Labels: card-script

#945 Unpay for Shoppin'
  server/game/GameActions/PutIntoPlay.js
  server/game/PlayActions/PutIntoPlayCardAction.js
  server/game/PlayActions/ShoppinCardAction.js
  server/game/PlayActions/StandardActions.js
  server/game/ServerCommands/DropCommand.js
  server/game/abilityusage.js
  server/game/basecostreducer.js
  server/game/costreducer.js
  server/game/costs.js
  server/game/drawcard.js
  server/game/gamesteps/ChooseGRSourceAmounts.js
  server/game/gamesteps/abilityresolver.js
  server/game/gamesteps/attachmentprompt.js
  server/game/player.js
  server/game/singlecostreducer.js
  test/server/integration/traitreactionorder.spec.js
Labels: enhancement

#966 Fix TypeError in ElectionDaySlaughter
  server/game/cards/02.3-EDS/ElectionDaySlaughter.js
Labels: bug

#999 Fix Law Dogs cost condition
  server/game/cards/01-DTR/LawDogs.js
Labels: bug

#994 Card: NTB - Secured Stockyard
  docs/cardpool-status.md
  server/game/cards/04.2-NTB/SecuredStockyard.js
Labels: card-script

#1001 Card: Nunchucks, Fleet-Footed
  docs/cardpool-status.md
  server/game/cards/05-IOUF/Nunchucks.js
  server/game/cards/13-O4B/FleetFooted.js
Labels: card-script

#1041 Card: DTR - Marion Seville
  docs/cardpool-status.md
  server/game/cards/01-DTR/MarionSeville.js
Labels: card-script

#1043 Card:Fred & Silas Aims
  docs/cardpool-status.md
  server/game/cards/01-DTR/FredAims.js
  server/game/cards/01-DTR/SilasAims.js
Labels: card-script

#1000 Fix card search returning duplicates
  server/game/player.js
Labels: bug

#1046 Fix OoT deeds moving to street
  server/game/gamelocation.js
  server/game/player.js
Labels: bug

#1047 Fix Experienced dudes upgrading
  server/game/PropertyTypes/KeywordsProperty.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/effect.js
  server/game/player.js
Labels: bug

#1053 Make draw hand visible to spectators
  server/game/CardVisibility.js
Labels: enhancement

#1052 Job posse conditions
  server/game/cards/01-DTR/Kidnappin.js
  server/game/cards/12-2T2D/Heist.js
  server/game/cards/13-O4B/CochiseCountyCourthouse.js
  server/game/cards/13-O4B/OfficeOfAncestralAffairs.js
  server/game/costs.js
  server/game/costs/BootCost.js
  server/game/costs/SelectCardCost.js
  server/game/gamesteps/basestep.js
  server/game/gamesteps/shootout.js
  server/game/gamesteps/shootout/shootoutposseprompt.js
  server/game/jobaction.js
Labels: bug

#1056 Card: Mountain Lion Friend, Hart's Tea Shoppe
  docs/cardpool-status.md
  server/game/cards/08-GT/MountainLionFriend.js
  server/game/cards/13-O4B/HartsTeaShoppe.js
Labels: card-script

#1057 Card: Clanton Ranch, Hellstromme Plant #9
  docs/cardpool-status.md
  server/game/cards/02.1-NTNR/Forget.js
  server/game/cards/11-TCaR/HellstrommePlant9.js
  server/game/cards/12-2T2D/ClantonRanch.js
Labels: card-script

#1058 Card: Wyatt Earp, Jonah Essex (Exp.1)
  docs/cardpool-status.md
  server/game/cards/13-O4B/WyattEarp.js
  server/game/cards/14-HCWM/JonahEssexExp1.js
  server/game/game.js
Labels: card-script

#1060 Card: The Brute, Ambrose Douglas, St.Anthony's Chapel
  docs/cardpool-status.md
  server/game/cards/01-DTR/DrDawnEdwards.js
  server/game/cards/01-DTR/EveHenry.js
  server/game/cards/02.3-EDS/TheBrute.js
  server/game/cards/03-FF/StAnthonysChapel.js
  server/game/cards/08-GT/AmbroseDouglas.js
  server/game/cards/16-DTR2/TheBrute2.js
  server/game/effects.js
Labels: card-script

#1064 Update Draw Deck action
  server/game/GameActions/DiscardTopCards.js
  server/game/GameActions/DrawCards.js
  server/game/GameActions/LookAtDeck.js
  server/game/GameActions/PlaceToken.js
  server/game/cards/01-DTR/BottomDealin.js
  server/game/cards/07.3-BadM/ArnoldStewart.js
  server/game/cards/08-GT/HenryMoran.js
  server/game/event.js
  server/game/player.js
  test/server/Event.spec.js
  test/server/GameActions/DrawCards.spec.js
  test/server/GameActions/LookAtDeck.spec.js
  test/server/GameActions/PlaceToken.spec.js
  test/server/player/drawDeckAction.spec.js
Labels: bug

#1063 Card: Too Much Attention, Two Hundred Fifty Rounds
  docs/cardpool-status.md
  server/game/cards/02.1-NTNR/TooMuchAttention.js
  server/game/cards/10-BMR/GreatSageMatchingHeaven.js
  server/game/cards/10-BMR/TwoHundredFiftyRounds.js
  server/game/cards/16-DTR2/TooMuchAttention2.js
  server/game/cards/16-DTR2/TwoHundredFiftyRounds.js
  server/game/techniqueaction.js
Labels: card-script

#1065 Card: "Mahogany" Jackson, "Thunder Boy" Nabbe
  docs/cardpool-status.md
  server/game/cards/08-GT/MahoganyJackson.js
  server/game/cards/10-BMR/ThunderBoyNabbe.js
  server/game/cards/13-O4B/MasonAdler.js
  server/game/cards/16-DTR2/MahoganyJackson2.js
  server/game/cards/16-DTR2/ThunderBoyNabbe2.js
Labels: card-script

#1066 Card: Pagliaccio, Smiling Frog
  docs/cardpool-status.md
  server/game/cards/03-FF/Pagliaccio.js
  server/game/cards/05-IOUF/SmilingFrog.js
  server/game/cards/16-DTR2/Pagliaccio2.js
  server/game/cards/16-DTR2/SmilingFrog2.js
Labels: card-script

#1067 Card: Pony Express, Mongwau the Mighty
  docs/cardpool-status.md
  server/game/cards/01-DTR/MongwauTheMighty.js
  server/game/cards/01-DTR/PonyExpress.js
  server/game/cards/16-DTR2/MongwauTheMighty2.js
  server/game/cards/16-DTR2/PonyExpress2.js
Labels: card-script

#1070 Fix Reacts and traits during setup
  server/game/triggeredability.js
  test/server/card/cardreaction.spec.js
  test/server/card/cardtraitreaction.spec.js
Labels: bug

#1072 Update socket.io
  package-lock.json
  package.json
Labels: dependency

#1069 Card: Deborah West Exp.1, Ursula the Worm Queen
  server/game/cards/16-DTR2/DeborahWestExp1.js
  server/game/cards/16-DTR2/UrsulaTheWormQueen.js
Labels: card-script

#1073 Whiskey Flask
  docs/cardpool-status.md
  server/game/cards/01-DTR/WhiskeyFlask.js
Labels: card-script

#1074 Fix some bugs
  server/game/cards/02.3-EDS/ElectionDaySlaughter.js
  server/game/cards/07.1-DDeeds/HeFang.js
  server/game/cards/07.1-DDeeds/XiangFang.js
  server/game/chatcommands.js
  server/game/playTypeAbility.js
  server/socket.js
  test/server/card/cardaction.spec.js
Labels: bug

#1076 Card: Ragged Mule, New Town Hall
  server/game/cards/01-DTR/MechanicalHorse.js
  server/game/cards/16-DTR2/NewTownHall.js
  server/game/cards/16-DTR2/RaggedMule.js
  server/game/costs/DiscardFromPlayCost.js
Labels: card-script

#1078 Card: NTB - Asyncoil Gun
  docs/cardpool-status.md
  server/game/cards/04.2-NTB/AsyncoilGun.js
Labels: card-script

#1079 Card: GT - Fool Me Once...
  docs/cardpool-status.md
  server/game/cards/08-GT/FoolMeOnce.js
  server/game/triggeredability.js
Labels: card-script

#1080 Fix stats reset when leaving play
  server/game/basecard.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/effects.js
Labels: bug

#1081 Refactor ability resolver order
  server/game/PlayActions/StandardActions.js
  server/game/cards/16-DTR2/MechanicalHorse2.js
  server/game/cards/16-DTR2/MountMoriahCemetery.js
  server/game/costreducer.js
  server/game/costs.js
  server/game/effects.js
  server/game/gamesteps/abilityresolver.js
  server/game/immunityrestriction.js
  server/game/player.js
  test/server/gamesteps/abilityresolver.spec.js
Labels: refactor
