Repository townteki/townsquare, pull requests merged in 2021-06, with the labels that each got.

#532 implements Epidemic Laboratory
  docs/cardpool-status.md
  server/game/cards/08-GT/EpidemicLaboratory.js
Labels: card-script

#533 Card: Zhu's Reward, Zhu's Ferocity
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cards/05-IOUF/ZhusFerocity.js
  server/game/cards/05-IOUF/ZhusReward.js
  server/game/costs.js
  server/game/game.js
  server/game/gamesteps/abilityresolver.js
  server/game/techniqueaction.js
Labels: card-script

#534 Card: Raking Dragons, Daomei Wang
  docs/cardpool-status.md
  server/game/cards/05-IOUF/DaomeiWang.js
  server/game/cards/05-IOUF/RakingDragons.js
  server/game/player.js
Labels: card-script

#612 implements Cliff's #4 Saloon.
  docs/cardpool-status.md
  server/game/cards/07.3-BadM/CliffsNo4Saloon.js
Labels: card-script

#611 implements Baijiu Jar.
  docs/cardpool-status.md
  server/game/cards/07.3-BadM/BaijiuJar.js
Labels: card-script

#610 Card: Darius Hellstromme, Ezekiah Grimme
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cards/11-TCaR/DariusHellstromme.js
  server/game/cards/11-TCaR/EzekiahGrimme.js
  server/game/chatcommands.js
  server/game/gamesteps/TriggeredAbilityWindow.js
  server/game/spellcard.js
Labels: card-script

#615 Implemented Xui Yin Chen
  server/game/cards/05-IOUF/XuiYinChen.js
Labels: card-script

#617 Implemented The Tombstone Haint
  server/game/cards/14-HCWM/TheTombstoneHaint.js
Labels: card-script

#618 Implemented Marshal Caves Callarman
  server/game/cards/14-HCWM/MarshalCavesCallarman.js
Labels: card-script

#616 Implemented Yunxu Jiang
  docs/cardpool-status.md
  server/game/cards/05-IOUF/YunxuJiang.js
Labels: card-script

#614 Card: Jasper Stone, Raven
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cards/06-TLS/WendysTeethkickers.js
  server/game/cards/11-TCaR/JasperStone.js
  server/game/cards/11-TCaR/Raven.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/gamesteps/shootout.js
  server/game/gamesteps/shootout/shootoutposse.js
  server/game/gamesteps/shootout/shootoutposseprompt.js
  server/game/player.js
  test/server/effects/dynamicbullets.spec.js
Labels: card-script

#625 Implemented Aunt Lou Marchbanks
  server/game/cards/15-W2D/AuntLouMarchbanks.js
Labels: card-script

#624 Nicolesumner
  server/game/cards/14-HCWM/NicoleSumner.js
  server/game/gamesteps/gamblingphase.js
Labels: card-script

#622 implements Prescott Utter.
  docs/cardpool-status.md
  server/game/cards/01-DTR/PrescottUtter.js
Labels: card-script

#613 implements Papa Marias.
  docs/cardpool-status.md
  server/game/cards/12-2T2D/PapaMarias.js
Labels: card-script

#627 Fix more stuff after test play
  server/game/chatcommands.js
  server/game/game.js
  server/game/gamesteps/shootout/drawhandprompt.js
  server/game/gamesteps/valueprompt.js
  server/game/techniqueaction.js
Labels: bug

#619 Guidingwind
  docs/cardpool-status.md
  server/game/cards/12-2T2D/GuidingWind.js
Labels: card-script

#626 Provide shootout info to UI
  server/game/game.js
  server/game/gamesteps/shootout.js
  server/game/gamesteps/shootout/shootoutposse.js
Labels: enhancement, ui

#629 Card: Gabriel Prior
  server/game/cards/06-TLS/EmreTheTurkishBear.js
  server/game/cards/14-HCWM/GabrielPrior.js
  server/game/gamesteps/jokerprompt.js
  server/game/player.js
Labels: card-script

#630 Card: Agent Provocateur, Curse of Failure
  README.md
  docs/cardpool-status.md
  server/game/cards/11-TCaR/AgentProvocateur.js
  server/game/cards/12-2T2D/CurseOfFailure.js
  server/game/chatcommands.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/player.js
Labels: card-script

#633 Fix and update deckbuilding
  package-lock.json
  package.json
  server/game/Deck.js
  server/game/basecard.js
  server/game/cards/05-IOUF/XiaodanLi.js
  server/game/gamesteps/setup/startingposseprompt.js
  test/helpers/DeckBuilder.js
Labels: bug

#620 Card: Fallen Star, Land Purchase, Fannin' the Hammer
  server/game/Deck.js
  server/game/GameActions/MoveDude.js
  server/game/GameActions/SendHome.js
  server/game/baseability.js
  server/game/cardaction.js
  server/game/cards/01-DTR/PointBlank.js
  server/game/cards/01-DTR/RunEmDown.js
  server/game/cards/02.1-NTNR/UlyssesMarks.js
  server/game/cards/03-FF/FasterOnTheDraw.js
  server/game/cards/04.2-NTB/LaQuema.js
  server/game/cards/05-IOUF/RakingDragons.js
  server/game/cards/05-IOUF/ZhusFerocity.js
  server/game/cards/06-TLS/RabbitsDeception.js
  server/game/cards/07.1-DDeeds/JaelsGuile.js
  server/game/cards/07.2-FP/MarielLewis.js
  server/game/cards/07.3-BadM/Mugging.js
  server/game/cards/08-GT/EpidemicLaboratory.js
  server/game/cards/09.2-AGE/BuckinBillyBallard.js
  server/game/cards/09.3-TSs/GetBehindMeSatan.js
  server/game/cards/10-BMR/HydroPuncher.js
  server/game/cards/11-TCaR/FriendsInHighPlaces.js
  server/game/cards/12-2T2D/LarrySevensSwift.js
  server/game/cards/14-HCWM/FanninTheHammer.js
  server/game/cards/15-W2D/FallenStar.js
  server/game/cards/15-W2D/LandPurchase.js
  server/game/gamelocation.js
  server/game/gamesteps/TriggeredAbilityWindow.js
  server/game/gamesteps/abilityresolver.js
  server/game/player.js
Labels: card-script

#631 Card: Wang Men Wu, I'm Your Huckleberry
  docs/cardpool-status.md
  server/game/cards/05-IOUF/RabbitsLunarLeap.js
  server/game/cards/11-TCaR/WangMenWu.js
  server/game/cards/12-2T2D/ImYourHuckleberry.js
  server/game/effects.js
  server/game/game.js
  server/game/gamesteps/shootout/shootoutposse.js
Labels: card-script

#635 Card: Bai Yang Chen Exp.1, Red River Roulette
  server/game/basecard.js
  server/game/cards/14-HCWM/RedRiverRoulette.js
  server/game/cards/15-W2D/BaiYangChenExp1.js
  server/game/chatcommands.js
  server/game/gamesteps/playwindow.js
  server/game/gamesteps/shootout.js
Labels: card-script

#636 Card: Joan McGruder, Speaks-with-Buffalo
  server/game/cards/14-HCWM/JoanMcGruder.js
  server/game/cards/14-HCWM/SpeaksWithBuffalo.js
Labels: card-script

#637 Card: Mischievous Coyote, Retribution
  docs/cardpool-status.md
  server/game/GameActions/AceCard.js
  server/game/cards/03-FF/LayOnHands.js
  server/game/cards/12-2T2D/MischievousCoyote.js
  server/game/cards/12-2T2D/Retribution.js
  server/game/effects.js
  server/game/gamesteps/shootout/shootoutposse.js
  server/game/player.js
Labels: card-script

#640 Card: Analytical Cognisizer, Campbell&Hatch Billiard Parlor
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cannotrestriction.js
  server/game/cards/01-DTR/BartonEverest.js
  server/game/cards/01-DTR/BuffaloRifle.js
  server/game/cards/01-DTR/CheatinVarmint.js
  server/game/cards/01-DTR/HexSlingin.js
  server/game/cards/01-DTR/JamesGhetty.js
  server/game/cards/01-DTR/MagicalDistraction.js
  server/game/cards/01-DTR/MechanicalHorse.js
  server/game/cards/01-DTR/PairOfSixShooters.js
  server/game/cards/01-DTR/Roan.js
  server/game/cards/01-DTR/TommyHarden.js
  server/game/cards/02.1-NTNR/Forget.js
  server/game/cards/02.2-DD/ItsNotWhatYouKnow.js
  server/game/cards/02.2-DD/ItsWhoYouKnow.js
  server/game/cards/02.2-DD/MortimerParsons.js
  server/game/cards/02.3-EDS/DrewBeauman.js
  server/game/cards/03-FF/CaliforniaTaxOffice.js
  server/game/cards/03-FF/HolyRoller.js
  server/game/cards/03-FF/LayOnHands.js
  server/game/cards/04.2-NTB/Consecration.js
  server/game/cards/04.2-NTB/NoTurningBack.js
  server/game/cards/05-IOUF/LydiaBearHands.js
  server/game/cards/05-IOUF/Natalya.js
  server/game/cards/06-TLS/EmreTheTurkishBear.js
  server/game/cards/06-TLS/WendysTeethkickers.js
  server/game/cards/07.2-FP/Outgunned.js
  server/game/cards/07.3-BadM/LeMatRevolver.js
  server/game/cards/07.3-BadM/TheOrphanage.js
  server/game/cards/08-GT/TechnologicalExhibition.js
  server/game/cards/08-GT/Tusk.js
  server/game/cards/09.1-TCR/CominUpRoses.js
  server/game/cards/09.3-TSs/CallingTheCavalry.js
  server/game/cards/09.3-TSs/GetBehindMeSatan.js
  server/game/cards/10-BMR/DaveSlimGorman.js
  server/game/cards/10-BMR/DiegoLinares.js
  server/game/cards/10-BMR/StevieLyndon.js
  server/game/cards/11-TCaR/DecimatorArray.js
  server/game/cards/11-TCaR/FriendsInHighPlaces.js
  server/game/cards/11-TCaR/JasperStone.js
  server/game/cards/11-TCaR/Raven.js
  server/game/cards/11-TCaR/TheWinningAgenda.js
  server/game/cards/12-2T2D/AnalyticalCognisizer.js
  server/game/cards/12-2T2D/CampbellHatchBilliardParlor.js
  server/game/cards/12-2T2D/CurseOfFailure.js
  server/game/cards/12-2T2D/IkeClanton.js
  server/game/cards/12-2T2D/MischievousCoyote.js
  server/game/cards/12-2T2D/StonesColtDragoons.js
  server/game/cards/14-HCWM/RedRiverRoulette.js
  server/game/cards/14-HCWM/SpeaksWithBuffalo.js
  server/game/cards/15-W2D/BaiYangChenExp1.js
  server/game/effect.js
  server/game/effects.js
  server/game/game.js
  server/game/gamesteps/abilityresolver.js
  server/game/gamesteps/shootout/shootoutposse.js
  server/game/playTypeAbility.js
  server/game/player.js
  test/server/effect.spec.js
Labels: card-script

#641 Card: The Bloody Star, The Oriental Saloon
  docs/cardpool-status.md
  server/game/cards/11-TCaR/TheBloodyStar.js
  server/game/cards/11-TCaR/TheOrientalSaloon.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/effects.js
Labels: card-script

#643 Card: Grim Servant O'Death, Remedy
  server/game/cards/01-DTR/DrDawnEdwards.js
  server/game/cards/01-DTR/EveHenry.js
  server/game/cards/02.2-DD/CorporealTwist.js
  server/game/cards/06-TLS/Enapay.js
  server/game/cards/09.3-TSs/CallingTheCavalry.js
  server/game/cards/11-TCaR/GrimServantODeath.js
  server/game/cards/11-TCaR/JasperStone.js
  server/game/cards/11-TCaR/Raven.js
  server/game/cards/11-TCaR/Remedy.js
  server/game/cards/14-HCWM/RedRiverRoulette.js
  server/game/cards/15-W2D/BaiYangChenExp1.js
  server/game/game.js
  server/game/player.js
Labels: card-script

#644 Card: Silas Aims (Exp.1), Virginia Ann Earp
  docs/cardpool-status.md
  server/game/baseability.js
  server/game/cards/12-2T2D/SilasAimsExp1.js
  server/game/cards/12-2T2D/VirginiaAnnEarp.js
  test/server/cards/cancreatecards.spec.js
Labels: card-script

#645 Card: Johnny Brocklehurst, Rabid Rance Hitchcock
  docs/cardpool-status.md
  server/game/cards/07.2-FP/OldMargesManor.js
  server/game/cards/11-TCaR/JohnnyBrocklehurst.js
  server/game/cards/11-TCaR/RabidRanceHitchcock.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/gamesteps/abilityresolver.js
  server/game/player.js
Labels: card-script

#646 Card: Florentino "Indian Charlie" Cruz, Seizing the Pearl of Death
  server/game/cards/14-HCWM/FlorentinoIndianCharlieCruz.js
  server/game/cards/14-HCWM/SeizingThePearlOfDeath.js
Labels: card-script

#649 Card: Takahashi Jinrai, Dr. Delphi Wallis
  docs/cardpool-status.md
  server/game/cards/12-2T2D/TakahashiJinrai.js
  server/game/cards/14-HCWM/DrDelphiWallis.js
Labels: card-script

#651 Card: Heist, Sentinel
  server/game/cards/11-TCaR/Sentinel.js
  server/game/cards/12-2T2D/Heist.js
Labels: card-script

#652 Card: Quarter Horse, Claws
  docs/cardpool-status.md
  server/game/cards/12-2T2D/Claws.js
  server/game/cards/12-2T2D/QuarterHorse.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/gamesteps/highnoon/tradingprompt.js
  server/game/gamesteps/shootout.js
Labels: card-script

#653 Card: Sheriff Eli Waters, Morgan Lash, Taiyari
  server/game/GameActions/MoveDude.js
  server/game/cards/11-TCaR/MorganLash.js
  server/game/cards/11-TCaR/SheriffEliWaters.js
  server/game/cards/12-2T2D/SilasAimsExp1.js
  server/game/cards/12-2T2D/Taiyari.js
  server/game/costreducer.js
Labels: card-script

#654 Card: Xiong "Wendy" Cheng Exp1, Matthew Rising Sun
  docs/cardpool-status.md
  server/game/AttachmentValidityCheck.js
  server/game/basecard.js
  server/game/cards/12-2T2D/MatthewRisingSun.js
  server/game/cards/12-2T2D/XiongWendyChengExp1.js
  server/game/effects.js
  server/game/player.js
  server/game/spellcard.js
Labels: card-script
