Repository townteki/townsquare, pull requests merged in 2021-05, with the labels that each got.

#418 Card: Forget, Fetch
  .vscode/townsquare.code-snippets
  server/game/baseability.js
  server/game/basecard.js
  server/game/cards/01-DTR/MechanicalHorse.js
  server/game/cards/01-DTR/PearlysPalace.js
  server/game/cards/01-DTR/TakinYaWithMe.js
  server/game/cards/01-DTR/TheFourthRing.js
  server/game/cards/01-DTR/TravisMoone.js
  server/game/cards/02.1-NTNR/Forget.js
  server/game/cards/02.2-DD/Fetch.js
  server/game/cards/04.2-NTB/JacquelineIsham.js
  server/game/cards/11-TCaR/FriendsInHighPlaces.js
  server/game/dudecard.js
  server/game/player.js
Labels: card-script

#419 Card: Phantom Fingers, Corporeal Twist
  docs/cardpool-status.md
  server/game/cards/02.2-DD/CorporealTwist.js
  server/game/cards/06-TLS/PhantomFingers.js
Labels: card-script

#422 Pull chatcommand
  server/game/chatcommands.js
  server/game/dudecard.js
Labels: enhancement

#420 Card: Culpability Scientizer, Xemo's Turban
  docs/cardpool-status.md
  server/game/cards/07.2-FP/XemosTurban.js
  server/game/cards/09.1-TCR/CulpabilityScientizer.js
Labels: card-script

#424 Card: Wendy's Teethkickers, Fancy New Hat
  docs/cardpool-status.md
  server/game/GameActions/MoveDude.js
  server/game/GameActions/SendHome.js
  server/game/cards/04.1-FJ/FancyNewHat.js
  server/game/cards/06-TLS/WendysTeethkickers.js
Labels: card-script

#423 Card: Hawley's Rose, Soul Cage
  server/game/cards/04.3-NN/SoulCage.js
  server/game/cards/07.3-BadM/HawleysRose.js
Labels: card-script

#425 Add scripted and effect properties to card summary
  docs/implementing-cards.md
  server/game/Deck.js
  server/game/basecard.js
  server/game/effect.js
  server/game/effects.js
  test/server/card/basecard.spec.js
  test/server/card/drawcard.getsummary.spec.js
Labels: enhancement

#426 Card: Onward Christian Soldiers, Silent Sigil
  server/game/cards/08-GT/OnwardChristianSoldiers.js
  server/game/cards/08-GT/SilentSigil.js
  server/game/effect.js
  server/game/handresult.js
  server/game/player.js
  test/server/effect.spec.js
Labels: card-script

#427 Card: California Tax Office, Walters Creek Distillery
  docs/cardpool-status.md
  server/game/cards/03-FF/CaliforniaTaxOffice.js
  server/game/cards/08-GT/NotaryPublic.js
  server/game/cards/08-GT/WaltersCreekDistillery.js
  server/game/effects.js
  server/game/game.js
  server/game/gamesteps/gamblingphase.js
  server/game/gamesteps/upkeepphase.js
  server/game/player.js
Labels: card-script

#430 Card: Sherman Mortgage, Joker's Smile
  server/game/cards/07.2-FP/JokersSmile.js
  server/game/cards/10-BMR/ShermanMortgage.js
  server/game/costreducer.js
  server/game/effects.js
Labels: card-script

#431 Card: Peacemaker, Pair of Six-Shooters
  docs/cardpool-status.md
  server/game/cannotrestriction.js
  server/game/cards/01-DTR/PairOfSixShooters.js
  server/game/cards/01-DTR/Peacemaker.js
  server/game/effect.js
  server/game/effects.js
  test/server/effect.spec.js
Labels: card-script

#432 Card: Election Day Slaughter, No Turning Back
  server/game/cards/02.3-EDS/ElectionDaySlaughter.js
  server/game/cards/04.2-NTB/NoTurningBack.js
  server/game/effects.js
  server/game/gamesteps/shootout/runorgunprompt.js
  server/game/player.js
Labels: card-script

#433 Card: This'll Hurt in the Morning, Bottom Dealin'
  docs/cardpool-status.md
  server/game/GameActions/AceCard.js
  server/game/baseability.js
  server/game/cards/01-DTR/BottomDealin.js
  server/game/cards/03-FF/ThisllHurtInTheMornin.js
  server/game/handresult.js
  server/game/player.js
Labels: card-script

#434 Card: Technological Exhibition, Siege of the Orphanage
  server/game/cards/08-GT/TechnologicalExhibition.js
  server/game/cards/09.2-AGE/SiegeOfTheOrphanage.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/game.js
  server/game/gamesteps/shootout.js
  server/game/gamesteps/shootout/runorgunprompt.js
  server/game/goodscard.js
  server/game/player.js
Labels: card-script

#440 Sequoia
  server/game/cards/12-2T2D/AlexanderSequoia.js
Labels: card-script

#438 Red Horse's Tail
  server/game/cardaction.js
  server/game/cards/06-TLS/RedHorsesTail.js
Labels: card-script

#439 Implemented Mother Bear's Rage
  server/game/cards/05-IOUF/NatureSpirit.js
  server/game/cards/07.3-BadM/MotherBearsRage.js
Labels: card-script

#437 Card: Judge Harry Somerset (Exp.1), Drew Beauman
  server/game/GameActions/PutIntoPlay.js
  server/game/PlayActions/PutIntoPlayCardAction.js
  server/game/cards/02.3-EDS/DrewBeauman.js
  server/game/cards/04.2-NTB/JudgeHarrySomersetExp1.js
  server/game/gamesteps/attachmentprompt.js
  server/game/gamesteps/shootout/shootoutposseprompt.js
  server/game/player.js
Labels: card-script

#442 Card: Speaks-With-Earth, Arnold Stewart
  docs/cardpool-status.md
  server/game/GameActions/DrawCards.js
  server/game/cards/01-DTR/BottomDealin.js
  server/game/cards/07.3-BadM/ArnoldStewart.js
  server/game/cards/09.3-TSs/SpeaksWithEarth.js
  server/game/gamesteps/TriggeredAbilityWindowTitles.js
  server/game/player.js
  server/game/spell.js
  test/server/GameActions/DrawCards.spec.js
  test/server/player/drawDeckAction.spec.js
Labels: card-script

#445 implements B&B Attorneys.
  docs/cardpool-status.md
  server/game/cards/01-DTR/BBAttorneys.js
Labels: card-script

#449 implements Bobo.
  docs/cardpool-status.md
  server/game/cards/01-DTR/Bobo.js
  server/game/game.js
Labels: card-script

#443 108 Gracious Gifts
  docs/cardpool-status.md
  server/game/cards/12-2T2D/108GraciousGifts.js
  server/game/gamesteps/setupphase.js
Labels: card-script

#448 Card: Old Marge's Manor, Jael's Guile
  docs/cardpool-status.md
  server/game/cards/07.1-DDeeds/JaelsGuile.js
  server/game/cards/07.2-FP/OldMargesManor.js
  server/game/gamesteps/ChooseGRSourceAmounts.js
Labels: card-script

#444 Ghostlycommunion
  server/game/cards/09.3-TSs/GhostlyCommunion.js
  server/game/gamelocation.js
Labels: card-script

#450 implements Abram Grothe.
  docs/cardpool-status.md
  server/game/cards/01-DTR/AbramGrothe.js
Labels: card-script

#455 implements Roan
  docs/cardpool-status.md
  server/game/cards/01-DTR/Roan.js
Labels: card-script

#456 implements Hired Guns
  docs/cardpool-status.md
  server/game/cards/01-DTR/HiredGuns.js
Labels: card-script

#452 Bilton Collection Agency
  docs/cardpool-status.md
  server/game/cards/11-TCaR/BiltonCollectionAgency.js
  server/game/gamesteps/upkeepphase.js
Labels: card-script

#461 Implemented Nickel Night Inn
  server/game/cards/10-BMR/NickelNightInn.js
Labels: card-script

#462 Implemented The Gomorra Gazette
  server/game/cards/09.2-AGE/TheGomorraGazette.js
Labels: card-script

#451 Card: Emre, The Turkish Bear
  docs/cardpool-status.md
  server/game/GameActions/AceCard.js
  server/game/GameActions/DiscardCard.js
  server/game/cards/06-TLS/EmreTheTurkishBear.js
  server/game/gamesteps/abilityresolver.js
  server/game/player.js
Labels: card-script

#468 Implemented Huntsmens Society
  server/game/cards/04.2-NTB/HunstmensSociety.js
Labels: card-script

#471 Soothe
  server/game/cards/01-DTR/JonLongstride.js
  server/game/cards/03-FF/Soothe.js
Labels: card-script

#472 Implemented Guide Horse
  server/game/cards/07.2-FP/GuideHorse.js
Labels: card-script

#474 Implemented 2nd Bank of Gomorra
  docs/cardpool-status.md
  server/game/cards/09.1-TCR/2ndBankofGomorra.js
Labels: card-script

#466 implements Make the Smart Choice
  docs/cardpool-status.md
  server/game/cards/01-DTR/MakeTheSmartChoice.js
Labels: card-script

#476 Implemented The Mayor's Office
  server/game/cards/02.3-EDS/TheMayorsOffice.js
Labels: card-script

#477 Implemented Make 'Em Sweat
  server/game/cards/02.1-NTNR/MakeEmSweat.js
Labels: card-script

#478 Implemented Angela Payne
  server/game/cards/02.3-EDS/AngelaPayne.js
Labels: card-script

#479 Implemented Enapay
  server/game/cards/06-TLS/Enapay.js
Labels: card-script

#480 Implemented Milt Clemons
  server/game/cards/02.3-EDS/MiltClemons.js
Labels: card-script

#475 Card: Chuan "Jen" Qí, Diego Linares
  docs/cardpool-status.md
  server/game/cards/01-DTR/TheFourthRing.js
  server/game/cards/03-FF/ChuanJenQi.js
  server/game/cards/10-BMR/DiegoLinares.js
  server/game/player.js
Labels: card-script

#469 Changes for UI improvements and value prompt
  server/game/cards/01-DTR/AllieHensman.js
  server/game/cards/01-DTR/BadCompany.js
  server/game/cards/01-DTR/BloodCurse.js
  server/game/cards/01-DTR/CheatinVarmint.js
  server/game/cards/01-DTR/EstablishinWhosinCharge.js
  server/game/cards/01-DTR/IrvingPatterson.js
  server/game/cards/01-DTR/LawrenceBlackwood.js
  server/game/cards/01-DTR/Reserves.js
  server/game/cards/01-DTR/TheSloaneGang.js
  server/game/cards/01-DTR/TheUnionCasino.js
  server/game/cards/02.2-DD/CorporealTwist.js
  server/game/cards/02.3-EDS/HunterProtections.js
  server/game/cards/03-FF/MeetTheNewBoss.js
  server/game/cards/03-FF/NicodemusWhateley.js
  server/game/cards/07.3-BadM/TheOrphanage.js
  server/game/cards/09.2-AGE/TheGomorraGazette.js
  server/game/cards/11-TCaR/BiltonCollectionAgency.js
  server/game/game.js
  server/game/gamesteps/valueprompt.js
  server/game/player.js
Labels: ui

#484 Kung Fu pull and Technique action
  server/game/basecard.js
  server/game/dudecard.js
  server/game/player.js
  server/game/techniqueaction.js
Labels: enhancement

#483 Implemented Mausoleum
  server/game/cards/11-TCaR/Mausoleum.js
Labels: card-script

#489 Implemented Jose Morales
  server/game/cards/02.2-DD/JoseMorales.js
  server/game/effects.js
Labels: card-script

#490 Mirandaclarke
  server/game/cards/07.2-FP/MirandaClarke.js
Labels: card-script

#491 Ambush
  docs/cardpool-status.md
  server/game/cards/01-DTR/Ambush.js
Labels: card-script

#486 Card: Rabbit's Lunar Leap
  .vscode/townsquare.code-snippets
  server/game/cardaction.js
  server/game/cards/05-IOUF/RabbitsLunarLeap.js
  server/game/dudecard.js
  server/game/techniqueaction.js
  server/game/techniquecard.js
  test/server/cards/cancreatecards.spec.js
Labels: card-script

#503 Another chatcommands
  server/game/ServerCommands/DropCommand.js
  server/game/chatcommands.js
Labels: enhancement

#504 Card: Mazatl, Lydia Bear-Hands
  docs/cardpool-status.md
  server/game/cards/05-IOUF/LydiaBearHands.js
  server/game/cards/05-IOUF/Mazatl.js
  server/game/gamelocation.js
Labels: card-script

#493 Implemented Francisco Rosales
  server/game/cards/08-GT/FranciscoRosales.js
Labels: card-script

#494 Card: Owl's Insight
  docs/cardpool-status.md
  server/game/cards/07.2-FP/OwlsInsight.js
  server/game/gamesteps/sundownphase.js
  server/game/player.js
Labels: card-script

#502 Mark action as taken after Move
  server/game/ServerCommands/DropCommand.js
  server/game/dudecard.js
  server/game/player.js
Labels: enhancement

#505 Card: Bucking "Billy" Ballard, Long Strides Ranch
  server/game/cards/09.2-AGE/BuckinBillyBallard.js
  server/game/cards/09.2-AGE/LongStridesRanch.js
Labels: card-script

#506 Card: Flight of the Lepus, Outgunned
  docs/cardpool-status.md
  server/game/NullEvent.js
  server/game/cards/04.1-FJ/FlightOfTheLepus.js
  server/game/cards/07.2-FP/Outgunned.js
  server/game/cards/12-2T2D/Ricochet.js
  server/game/event.js
  server/game/gamesteps/shootout/shootoutposse.js
Labels: card-script

#495 Kung Fu Combo
  server/game/AbilityContext.js
  server/game/Deck.js
  server/game/basecard.js
  server/game/cardaction.js
  server/game/cards/05-IOUF/RabbitsLunarLeap.js
  server/game/cards/06-TLS/RabbitsDeception.js
  server/game/costs.js
  server/game/gamesteps/abilityresolver.js
  server/game/playTypeAbility.js
  server/game/player.js
  server/game/techniqueaction.js
  server/game/techniquecard.js
Labels: card-script

#519 Trading prompt update
  server/game/dudecard.js
  server/game/game.js
  server/game/gamesteps/highnoon/tradingprompt.js
  server/game/gamesteps/selectcardprompt.js
Labels: enhancement

#522 "Reveal" and "Look At" chat commands
  server/game/chatcommands.js
Labels: enhancement

#481 implements Bowie Knife
  docs/cardpool-status.md
  server/game/cards/07.3-BadM/BowieKnife.js
Labels: card-script

#521 Turn Passing/Done improvement
  server/game/chatcommands.js
  server/game/gamesteps/playwindow.js
Labels: enhancement

#526 Bug fixes after test play
  server/game/ServerCommands/DropCommand.js
  server/game/cards/01-DTR/Unprepared.js
  server/game/cards/09.1-TCR/CominUpRoses.js
  server/game/dudecard.js
  server/game/gamesteps/playwindow.js
Labels: bug

#528 Card: Shi Long Peng, Rabbit Takes Revenge
  docs/cardpool-status.md
  server/game/CardSelectors/BaseCardSelector.js
  server/game/GameActions/RemoveFromPosse.js
  server/game/GameActions/index.js
  server/game/cardaction.js
  server/game/cards/01-DTR/JarretBlake.js
  server/game/cards/03-FF/LayOnHands.js
  server/game/cards/04.1-FJ/FlightOfTheLepus.js
  server/game/cards/06-TLS/RabbitsDeception.js
  server/game/cards/07.1-DDeeds/RabbitTakesRevenge.js
  server/game/cards/09.3-TSs/ShiLongPeng.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/gamesteps/abilityresolver.js
  server/game/gamesteps/shootout.js
  server/game/gamesteps/shootout/runorgunprompt.js
  server/game/gamesteps/shootout/shootoutposse.js
  server/game/techniqueaction.js
Labels: card-script
