Repository townteki/townsquare, pull requests merged in 2021-04, with the labels that each got.

#353 Card: The Union Casino and Telegraph Office
  README.md
  docs/cardpool-status.md
  server/game/EventTrackers/CardEntersPlayTracker.js
  server/game/cards/01-DTR/TelegraphOffice.js
  server/game/cards/01-DTR/TheUnionCasino.js
Labels: card-script

#357 Card: Magical Distraction, Remy LaPointe, Mechanical Horse
  server/game/cards/01-DTR/AutoRevolver.js
  server/game/cards/01-DTR/BountyHunter.js
  server/game/cards/01-DTR/MagicalDistraction.js
  server/game/cards/01-DTR/MechanicalHorse.js
  server/game/cards/01-DTR/RemyLaPointe.js
  server/game/cards/02.2-DD/ItsNotWhatYouKnow.js
  server/game/gamesteps/shootout.js
  server/game/player.js
Labels: card-script

#355 Implemented Paralysis Mark
  docs/cardpool-status.md
  server/game/cards/02.1-NTNR/ParalysisMark.js
Labels: card-script

#354 Friends In High Places
  docs/cardpool-status.md
  server/game/GameActions/CallOut.js
  server/game/cards/11-TCaR/FriendsInHighPlaces.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/effects.js
Labels: card-script

#360 Implemented Phantasm
  docs/cardpool-status.md
  server/game/cards/03-FF/Phantasm.js
Labels: card-script

#362 Implemented Spirit Dance
  docs/cardpool-status.md
  server/game/cards/05-IOUF/NatureSpirit.js
  server/game/cards/05-IOUF/SpiritDance.js
Labels: card-script

#370 Undertaker
  docs/cardpool-status.md
  server/game/cards/01-DTR/Undertaker.js
Labels: card-script

#366 Card: Many Speak as One, Sun-Touched Raven
  docs/cardpool-status.md
  server/game/GameActions/Search.js
  server/game/cards/05-IOUF/AncestorSpirit.js
  server/game/cards/05-IOUF/ManySpeakAsOne.js
  server/game/cards/09.2-AGE/SunTouchedRaven.js
  server/game/dudecard.js
  server/game/goodscard.js
  server/game/player.js
Labels: card-script

#367 Implemented Confession
  docs/cardpool-status.md
  server/game/cards/04.1-FJ/Confession.js
Labels: card-script

#365 Implemented Consecration
  docs/cardpool-status.md
  server/game/cards/04.2-NTB/Consecration.js
Labels: card-script

#363 Cannot move and boot effects, refactor and some cards
  docs/cardpool-status.md
  server/game/GameActions/BootCard.js
  server/game/GameActions/JoinPosse.js
  server/game/GameActions/MoveDude.js
  server/game/GameActions/SendHome.js
  server/game/ServerCommands/DropCommand.js
  server/game/basecard.js
  server/game/cards/01-DTR/BuffaloRifle.js
  server/game/cards/01-DTR/CircleMRanch.js
  server/game/cards/01-DTR/JonLongstride.js
  server/game/cards/01-DTR/Kidnappin.js
  server/game/cards/01-DTR/MechanicalHorse.js
  server/game/cards/01-DTR/PistolWhip.js
  server/game/cards/01-DTR/SoulBlast.js
  server/game/cards/01-DTR/TheEvidence.js
  server/game/cards/01-DTR/TravisMoone.js
  server/game/cards/01-DTR/Unprepared.js
  server/game/cards/02.2-DD/AngelicaEspinosa.js
  server/game/cards/02.2-DD/MortimerParsons.js
  server/game/cards/04.2-NTB/ScoopHound.js
  server/game/cards/04.3-NN/FlintsAmusements.js
  server/game/cards/07.3-BadM/VasilisTheBoar.js
  server/game/cards/07.3-BadM/WillaMaeMacGowan.js
  server/game/cards/07.3-BadM/YagnsMechanicalSkeleton.js
  server/game/cards/09.1-TCR/MaggieHarris.js
  server/game/cards/11-TCaR/ChargingBear.js
  server/game/cards/11-TCaR/DevilsSixGun.js
  server/game/costs.js
  server/game/costs/BootCost.js
  server/game/costs/CostBuilders.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/game.js
  server/game/gamesteps/shootout.js
  server/game/gamesteps/shootout/drawhandprompt.js
  server/game/gamesteps/shootout/runorgunprompt.js
  server/game/gamesteps/shootout/takeyerlumpsprompt.js
  server/game/goodscard.js
  server/game/jobaction.js
  server/game/playTypeAbility.js
  server/game/player.js
  test/server/ServerCommands/DropCommand.spec.js
Labels: card-script, refactor

#373 Card: Strength of the Ancestors, Rapier
  docs/cardpool-status.md
  server/game/GameActions/SendHome.js
  server/game/cards/04.2-NTB/Rapier.js
  server/game/cards/06-TLS/StrengthOfTheAncestors.js
  server/game/dudecard.js
  server/game/gamesteps/shootout.js
  server/game/goodscard.js
Labels: card-script

#374 Card: Nathan Shane, Sight Beyond Sight
  server/game/GameActions/LookAtHand.js
  server/game/cards/04.3-NN/NathanShane.js
  server/game/cards/08-GT/SightBeyondSight.js
  test/server/GameActions/LookAtHand.spec.js
Labels: card-script

#375 Update Interrupt to ReactionBefore plus Lay On Hands
  server/game/AtomicEvent.js
  server/game/EventTrackers/EventPlayedTracker.js
  server/game/GameActions/SendHome.js
  server/game/GroupedCardEvent.js
  server/game/NullEvent.js
  server/game/baseability.js
  server/game/basecard.js
  server/game/cardforcedinterrupt.js
  server/game/cardinsteadreaction.js
  server/game/cardinterrupt.js
  server/game/cardreaction.js
  server/game/cards/01-DTR/BloodCurse.js
  server/game/cards/01-DTR/MicahRyse.js
  server/game/cards/01-DTR/PistolWhip.js
  server/game/cards/01-DTR/RunEmDown.js
  server/game/cards/03-FF/LayOnHands.js
  server/game/cards/03-FF/Phantasm.js
  server/game/cards/04.1-FJ/Confession.js
  server/game/cardtraitinsteadreaction.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/event.js
  server/game/game.js
  server/game/gamesteps/BaseAbilityWindow.js
  server/game/gamesteps/CancelTimer.js
  server/game/gamesteps/ReactionBeforeWindow.js
  server/game/gamesteps/TriggeredAbilityWindowTitles.js
  server/game/gamesteps/abilityresolver.js
  server/game/gamesteps/eventwindow.js
  server/game/gamesteps/sundownphase.js
  server/game/locationcard.js
  server/game/promptedtriggeredability.js
  server/game/spellinsteadreaction.js
  server/game/triggeredability.js
  test/helpers/integrationhelper.js
  test/helpers/playerinteractionwrapper.js
  test/server/game/openInterruptWindowForAttachedEvents.spec.js
  test/server/gamesteps/BaseAbilityWindow.spec.js
  test/server/gamesteps/TraitTriggeredAbilityWindow.spec.js
  test/server/gamesteps/TriggeredAbilityWindow.spec.js
  test/server/gamesteps/eventwindow.spec.js
Labels: card-script

#377 Card: Randall, Marcia Ridge
  .vscode/townsquare.code-snippets
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cardaction.js
  server/game/cards/05-IOUF/MarciaRidge.js
  server/game/cards/05-IOUF/Randall.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/game.js
  server/game/gamesteps/BaseAbilityWindow.js
  server/game/gamesteps/TriggeredAbilityWindow.js
  server/game/playTypeAbility.js
  server/game/triggeredability.js
  test/server/card/cardaction.spec.js
  test/server/card/cardreaction.spec.js
  test/server/card/cardtraitreaction.spec.js
  test/server/gamesteps/BaseAbilityWindow.spec.js
  test/server/gamesteps/TraitTriggeredAbilityWindow.spec.js
  test/server/gamesteps/TriggeredAbilityWindow.spec.js
Labels: card-script

#379 Card: The Mixer, Felix Amador
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cards/03-FF/FelixAmador.js
  server/game/cards/09.2-AGE/TheMixer.js
  server/game/effect.js
  server/game/effectengine.js
  server/game/effects.js
  server/game/game.js
Labels: card-script

#381 Card: Holy Roller, Get Behind Me Satan!
  server/game/cards/03-FF/HolyRoller.js
  server/game/cards/09.3-TSs/GetBehindMeSatan.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/gamesteps/shootout.js
  server/game/gamesteps/shootout/shootoutposse.js
  server/game/gamesteps/shootout/takeyerlumpsprompt.js
Labels: card-script

#382 Card: Tin Star, Comin' Up Roses
  server/game/basecard.js
  server/game/cards/01-DTR/TinStar.js
  server/game/cards/09.1-TCR/CominUpRoses.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/effect.js
  server/game/effectengine.js
  server/game/effects.js
  server/game/game.js
  server/game/gamesteps/jokerprompt.js
  server/game/handresult.js
Labels: card-script

#383 Card: Dead Dog Tavern, It's Who You Know
  server/game/GameActions/CallOut.js
  server/game/cards/01-DTR/DeadDogTavern.js
  server/game/cards/02.2-DD/ItsWhoYouKnow.js
  server/game/deedcard.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/gamesteps/shootout/shootoutposse.js
Labels: card-script

#384 Card: POST-A-TRON, Valeria Batten
  server/game/PropertyTypes/KeywordsProperty.js
  server/game/cards/03-FF/ValeriaBatten.js
  server/game/cards/10-BMR/PostATron.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/gamesteps/setupphase.js
  server/game/player.js
Labels: card-script

#385 Card: Hydro-Puncher, Tusk
  server/game/cards/08-GT/Tusk.js
  server/game/cards/10-BMR/HydroPuncher.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/gamesteps/abilityresolver.js
  server/game/player.js
Labels: card-script

#386 Card: Nicodemus Whateley
  docs/cardpool-status.md
  server/game/cards/03-FF/NicodemusWhateley.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/gamelocation.js
Labels: card-script

#396 Card: Ike Clanton, Decimator Array
  server/game/cards/11-TCaR/DecimatorArray.js
  server/game/cards/12-2T2D/IkeClanton.js
  server/game/drawcard.js
  server/game/game.js
  server/game/gamelocation.js
  server/game/locationcard.js
  server/game/player.js
Labels: card-script

#397 Card: Hattie DeLorre, Zachary Deloria
  server/game/cards/07.1-DDeeds/ZacharyDeloria.js
  server/game/cards/10-BMR/HattieDeLorre.js
Labels: card-script

#398 Card: Implement some cards
  docs/cardpool-status.md
  server/game/cards/01-DTR/LucindaLucyClover.js
  server/game/cards/03-FF/MicahRyseExp1.js
  server/game/cards/07.1-DDeeds/KarlOdett.js
  server/game/cards/07.2-FP/MarielLewis.js
  server/game/cards/09.2-AGE/JimHexter.js
  server/game/dudecard.js
  server/game/game.js
Labels: card-script

#399 Card: Whateley Estate, Calling The Cavalry
  server/game/cards/01-DTR/Kidnappin.js
  server/game/cards/03-FF/TheWhateleyEstate.js
  server/game/cards/09.3-TSs/CallingTheCavalry.js
  server/game/effects.js
Labels: card-script

#401 Card: Meet The New Boss
  .vscode/townsquare.code-snippets
  server/game/cards/03-FF/MeetTheNewBoss.js
Labels: card-script

#402 Card: La Quema, Faithful Hound
  server/game/cards/02.1-NTNR/FaithfulHound.js
  server/game/cards/04.2-NTB/LaQuema.js
Labels: card-script

#403 Card: Bio-Charged Neut., Sword ot Spirit, Disgenuine $ Press
  server/game/PropertyTypes/KeywordsProperty.js
  server/game/cards/03-FF/BioChargedNeutralizer.js
  server/game/cards/04.3-NN/SwordOfTheSpirit.js
  server/game/cards/07.1-DDeeds/DisgenuineCurrencyPress.js
  server/game/effects.js
Labels: card-script

#404 Card: Fire of Nanahbozho, Shield of Faith
  docs/cardpool-status.md
  server/game/CardSelector.js
  server/game/cards/04.1-FJ/ShieldOfFaith.js
  server/game/cards/06-TLS/FireOfNanahbozho.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/gamesteps/shootout/drawhandprompt.js
  server/game/gamesteps/shootout/takeyerlumpsprompt.js
  server/game/goodscard.js
  server/game/heartscard.js
  server/game/player.js
  server/game/spell.js
  server/game/spellcard.js
Labels: card-script

#408 Card: Spirit Trail, Open Wound
  server/game/cards/05-IOUF/SpiritTrail.js
  server/game/cards/09.2-AGE/OpenWound.js
  server/game/effects.js
  server/game/game.js
  server/game/locationcard.js
  server/game/spell.js
Labels: card-script

#409 Card: Surveyor's Office, Mugging
  docs/cardpool-status.md
  server/game/cards/02.2-DD/SurveyorsOffice.js
  server/game/cards/07.3-BadM/Mugging.js
Labels: card-script

#416 Implement "being played" card pile
  server/game/ServerCommands/DropCommand.js
  server/game/player.js
Labels: ui

#414 Card: Larry "Sevens" Swift, House of Many Faiths
  server/game/cards/12-2T2D/LarrySevensSwift.js
  server/game/cards/13-O4B/HouseOfManyFaiths.js
  server/game/gamesteps/shootout.js
Labels: card-script

#415 Card: Stone's Colt Dragoons, Ricochet
  docs/cardpool-status.md
  server/game/cards/12-2T2D/Ricochet.js
  server/game/cards/12-2T2D/StonesColtDragoons.js
Labels: card-script
