Repository townteki/townsquare, pull requests merged in 2021-08, with the labels that each got.

#726 Chatcommand to modify production
  server/game/chatcommands.js
Labels: chat-commands

#728 Fix rematch problem
  server/lobby.js
Labels: bug, chat-commands

#725 Update goods cards for new core set
  server/game/AbilityTarget.js
  server/game/GameActions/CallOut.js
  server/game/baseability.js
  server/game/cards/01-DTR/ElanderBoldman.js
  server/game/cards/16-DTR2/BioChargedNeutralizer2.js
  server/game/cards/16-DTR2/BuffaloRifle2.js
  server/game/cards/16-DTR2/DecimatorArray2.js
  server/game/cards/16-DTR2/DisgenuineCurrencyPress2.js
  server/game/cards/16-DTR2/FaithfulHound2.js
  server/game/cards/16-DTR2/LaQuema2.js
  server/game/cards/16-DTR2/LeMatRevolver2.js
  server/game/cards/16-DTR2/MechanicalHorse2.js
  server/game/cards/16-DTR2/Shotgun2.js
  server/game/cards/16-DTR2/TinStar2.js
  server/game/costs.js
  server/game/gamesteps/valueprompt.js
Labels: card-script

#730 Card: Trick Shooting
  server/game/cards/16-DTR2/TrickShooting.js
Labels: card-script

#716 Implements Bayou Vermilion Railroad
  docs/cardpool-status.md
  server/game/cards/13-O4B/BayouVermilionRailroad.js
  server/game/drawcard.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/gamelocation.js
  server/game/goodscard.js
Labels: card-script

#732 Another new cards
  server/game/cards/16-DTR2/Bootsie.js
  server/game/cards/16-DTR2/Ruckus.js
Labels: card-script

#731 New dude cards
  server/game/GameActions/CallOut.js
  server/game/cards/16-DTR2/BassReeves.js
  server/game/cards/16-DTR2/Coyote.js
  server/game/cards/16-DTR2/JessicaPratchett.js
  server/game/cards/16-DTR2/MysteriousAimsSister.js
  server/game/cards/16-DTR2/Werewolf.js
  server/game/costs/CostBuilder.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/player.js
Labels: card-script

#754 Card: Henry Moran
  docs/cardpool-status.md
  server/game/cards/08-GT/HenryMoran.js
  server/game/game.js
Labels: card-script

#713 Implemented Intercession and updated dude.js
  server/game/cards/11-TCaR/Intercession.js
  server/game/dudecard.js
Labels: card-script

#715 Card youhadonejob
  docs/cardpool-status.md
  server/game/cards/11-TCaR/YouHadOneJob.js
Labels: card-script

#723 Censure
  docs/cardpool-status.md
  server/game/cards/11-TCaR/Censure.js
Labels: card-script

#753 Card: Valeria Batten (Exp.1), Curly Bill Brocius
  server/game/cards/13-O4B/CurlyBillBrocius.js
  server/game/cards/13-O4B/ValeriaBattenExp1.js
Labels: card-script

#755 Card: Malison, Iron Mole
  docs/cardpool-status.md
  server/game/cards/13-O4B/Malison.js
  server/game/cards/14-HCWM/IronMole.js
  server/game/effects.js
  server/game/player.js
Labels: card-script

#729 implements Carter Richardson.
  docs/cardpool-status.md
  server/game/cards/13-O4B/CarterRichardson.js
Labels: card-script

#802 Various Legacy cards
  docs/cardpool-status.md
  server/game/PlayActions/PutIntoPlayCardAction.js
  server/game/PlayActions/ShoppinCardAction.js
  server/game/PlayActions/StandardActions.js
  server/game/ServerCommands/DropCommand.js
  server/game/cards/01-DTR/JiaMein.js
  server/game/cards/01-DTR/Rumors.js
  server/game/cards/02.1-NTNR/TownCouncil.js
  server/game/cards/02.3-EDS/DrewBeauman.js
  server/game/cards/06-TLS/AsakichiCooke.js
  server/game/cards/10-BMR/AmazingGrace.js
  server/game/cards/10-BMR/MorganRegulators.js
  server/game/cards/11-TCaR/EzekiahGrimme.js
  server/game/cards/13-O4B/OfficeOfAncestralAffairs.js
  server/game/cards/16-DTR2/JiaMein2.js
  server/game/cards/16-DTR2/MorganRegulators2.js
  server/game/dudecard.js
  server/game/effects.js
  server/game/game.js
  server/game/gamesteps/gamblingphase.js
Labels: card-script

#803 Card: Buffalo Emporium, Disarm
  docs/cardpool-status.md
  server/game/cards/06-TLS/StrengthOfTheAncestors.js
  server/game/cards/11-TCaR/BuffaloEmporium.js
  server/game/cards/11-TCaR/Disarm.js
Labels: card-script

#804 implements Christine Perfect.
  docs/cardpool-status.md
  server/game/cards/10-BMR/ChristinePerfect.js
Labels: card-script

#807 Add missing functions to NullCard
  server/game/nullcard.js
Labels: bug

#808 Update deck-helper to 1.0.8
  package-lock.json
  package.json
Labels: dependency

#811 Fix bugs causing crashes
  server/game/cards/01-DTR/RunEmDown.js
  server/game/cards/11-TCaR/GrimServantODeath.js
  server/game/cards/11-TCaR/WangMenWu.js
  server/game/gamelocation.js
Labels: bug

#809 Card: Rham's Readings, Big Nose Kate
  docs/cardpool-status.md
  server/game/cards/13-O4B/BigNoseKate.js
  server/game/cards/14-HCWM/RhamsReadings.js
  server/game/player.js
Labels: card-script

#813 Card: Explorer's Lodge, The R&D Ranch
  docs/cardpool-status.md
  server/game/cards/02.1-NTNR/TheRDRanch.js
  server/game/cards/11-TCaR/ExplorersLodge.js
  server/game/player.js
Labels: card-script

#814 Card: Funtime Freddy, Ivor Hawley (Exp.1)
  docs/cardpool-status.md
  server/game/GameActions/Search.js
  server/game/cards/01-DTR/TravisMoone.js
  server/game/cards/03-FF/FuntimeFreddy.js
  server/game/cards/06-TLS/IvorHawleyExp1.js
  server/game/cards/09.2-AGE/SunTouchedRaven.js
  server/game/player.js
  server/game/triggeredability.js
Labels: card-script

#812 implements Rosenbaum's Golem.
  docs/cardpool-status.md
  server/game/cards/11-TCaR/RosenbaumsGolem.js
Labels: card-script

#815 Card: Hank Ketchum, Prof. Aloysius Roe
  docs/cardpool-status.md
  server/game/cards/11-TCaR/ProfAloysiusRoe.js
  server/game/cards/14-HCWM/HankKetchum.js
  server/game/chatcommands.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/gamesteps/shootout/pickyershooterprompt.js
  server/game/goodscard.js
  server/game/player.js
Labels: card-script

#819 Card: QUATERMAN PRIME, John "Aces" Radcliffe
  docs/cardpool-status.md
  server/game/basecard.js
  server/game/cards/14-HCWM/QUATERMANPRIME.js
  server/game/cards/15-W2D/JohnAcesRadcliffeExp1.js
  server/game/drawcard.js
  server/game/effects.js
  server/game/player.js
Labels: card-script

#820 Fix some bugs
  server/game/cards/01-DTR/AutoRevolver.js
  server/game/cards/01-DTR/KillerBunniesCasino.js
  server/game/cards/05-IOUF/BaiYangChen.js
  server/game/cards/05-IOUF/Randall.js
  server/game/cards/08-GT/SilentSigil.js
  server/game/cards/11-TCaR/JasperStone.js
  server/game/cards/11-TCaR/MorganLash.js
  server/game/cards/16-DTR2/Randall2.js
  server/game/gamesteps/shootout/drawhandprompt.js
  server/game/player.js
Labels: bug

#821 Prevent dropping non-deed cards to empty street
  server/game/ServerCommands/DropCommand.js
Labels: bug

#822 Fix gadget inventing via cards
  server/game/player.js
Labels: bug

#805 implements Grimoires & More
  docs/cardpool-status.md
  server/game/cards/09.3-TSs/GrimoiresAndMore.js
Labels: card-script

#850 Fix Unprepared blanking effect
  server/game/baseability.js
  server/game/cards/01-DTR/Unprepared.js
  server/game/cards/16-DTR2/Unprepared2.js
  server/game/traittriggeredability.js
  server/game/triggeredability.js
Labels: bug, card-script

#851 Message and prompt if player in Check
  server/game/game.js
  server/game/gamesteps/abilityresolver.js
  server/game/gamesteps/playwindow.js
  server/game/player.js
  test/server/gamesteps/abilityresolver.spec.js
Labels: enhancement, ui

#852 Card: Dr. Arden Gillman, "Lucky" Sky Borne
  server/game/cards/02.3-EDS/DrArdenGillman.js
  server/game/cards/07.2-FP/LuckySkyBorne.js
  server/game/player.js
Labels: card-script

#857 Card: Force Field, Electrostatic Pump Gun
  server/game/cards/01-DTR/ForceField.js
  server/game/cards/12-2T2D/ElectrostaticPumpGun.js
Labels: card-script

#858 Card: William Specks, Protection Racket
  server/game/cards/03-FF/WilliamSpecks.js
  server/game/cards/10-BMR/ProtectionRacket.js
  server/game/deedcard.js
  server/game/drawcard.js
Labels: card-script

#859 Card: Dr. Gregory Tremane, Smith & Robards Trade Show
  server/game/cards/13-O4B/DrGregoryTremane.js
  server/game/cards/13-O4B/SmithRobardsTradeShow.js
Labels: card-script

#860 Old Washoe Club
  docs/cardpool-status.md
  server/game/cards/12-2T2D/OldWashoeClub.js
Labels: card-script

#862 Worker timeout in config plus crash fix
  config/default.json5
  server/game/game.js
  server/gamerouter.js
Labels: bug

#880 Fix lowball bug
  server/game/gamesteps/gamblingphase.js
  server/game/gamesteps/shootout.js
Labels: bug
