Repository townteki/townsquare, pull requests merged in 2022-03, with the labels that each got.

#1410 Use GameAction to increase bounty
  server/game/GameActions/AddBounty.js
  server/game/GameActions/JoinPosse.js
  server/game/GameActions/MoveBounty.js
  server/game/GameActions/index.js
  server/game/cards/01-DTR/Ambush.js
  server/game/cards/10-BMR/BurnEmOut.js
  server/game/cards/13-O4B/JonahsAlliance.js
  server/game/gamesteps/shootout.js
Labels: bug :bug:

#1392 Card: GT - Framed
  docs/cardpool-status.md
  server/game/cards/08-GT/Framed.js
Labels: card-script :black_joker:

#1394 Card: AGE - Inner struggle
  docs/cardpool-status.md
  server/game/cards/09.2-AGE/InnerStruggle.js
  server/game/effects.js
  server/game/player.js
Labels: card-script :black_joker:

#1396 Card: NTNR - Telepathy Helmet
  docs/cardpool-status.md
  server/game/cards/02.1-NTNR/TelepathyHelmet.js
Labels: card-script :black_joker:

#1409 Card: FF - Outlaw Mask
  docs/cardpool-status.md
  server/game/cards/03-FF/OutlawMask.js
Labels: card-script :black_joker:

#1398 Card: TS - The Gambler's Gun
  docs/cardpool-status.md
  server/game/cards/09.3-TSs/GamblersGun.js
Labels: card-script :black_joker:

#1399 Card: DTR - Sanford Taylor
  docs/cardpool-status.md
  server/game/cards/01-DTR/SanfordTaylor.js
Labels: card-script :black_joker:

#1404 Card: NTNR - Back Ways
  docs/cardpool-status.md
  server/game/cards/02.1-NTNR/BackWays.js
Labels: card-script :black_joker:

#1407 Card: DD - Tallulah Morgan
  docs/cardpool-status.md
  server/game/cards/02.2-DD/TallulahLulaMorgan.js
Labels: card-script :black_joker:

#1393 Solo: Update upkeep and casualties
  server/game/Solo/Archetypes/BaseArchetype.js
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/automaton.js
  server/game/Solo/priorities.js
  server/game/game.js
  server/game/gamesteps/nightfall/discardprompt.js
  server/game/gamesteps/shootout/takeyerlumpsprompt.js
  server/game/gamesteps/upkeep/upkeepprompt.js
Labels: solo

#1415 Solo: Update upkeep discard
  server/game/Solo/Archetypes/BaseArchetype.js
  server/game/Solo/Archetypes/GunfighterArchetype.js
  server/game/Solo/automaton.js
  server/game/gamesteps/upkeep/upkeepprompt.js
Labels: solo

#1414 Card: TSs - Gene North Star
  docs/cardpool-status.md
  server/game/cards/01-DTR/MongwauTheMighty.js
  server/game/cards/09.3-TSs/GeneNorthStar.js
Labels: card-script :black_joker:
