Repository townteki/townsquare, pull requests merged in 2022-01, with the labels that each got.

#1347 Update WWE: Saved By Grace, Sun In Yer Eyes
  server/game/cards/16-DT2/SavedByGrace.js
  server/game/cards/16-DT2/SunInYerEyes2.js
Labels: card-script :black_joker:

#1348 Update WWE: Deadwood Miners Alliance, Meet the New Boss
  server/game/cards/03-FF/MeetTheNewBoss.js
  server/game/cards/16-DT2/DeadwoodMinersAlliance.js
  server/game/cards/16-DT2/MeetTheNewBoss2.js
  server/game/cards/16-DT2/OlFashionedHangin2.js
Labels: card-script :black_joker:

#1349 Update WWE: Various cards
  server/game/cards/07.2-FP/XemosTurban.js
  server/game/cards/16-DT2/JimHexter2.js
  server/game/cards/16-DT2/LaneHealey2.js
  server/game/cards/16-DT2/MirandaClarke2.js
  server/game/cards/16-DT2/ShiLongPeng2.js
Labels: card-script :black_joker:

#1350 Update WWE: Kidnappin', The Mixer
  server/game/cards/01-DTR/Kidnappin.js
  server/game/cards/16-DT2/Belligerence.js
  server/game/cards/16-DT2/Kidnappin2.js
  server/game/cards/16-DT2/TheMixer2.js
Labels: card-script :black_joker:

#1353 Fix WWE Kidnappin' and Saved by Grace
  server/game/cards/16-DT2/Kidnappin2.js
  server/game/cards/16-DT2/SavedByGrace.js
Labels: bug :bug:, card-script :black_joker:

#1354 Fix Deadwood Miner's Alliance, Jade King Stance
  server/game/cards/12-2T2D/JadeKingStance.js
  server/game/cards/16-DT2/DeadwoodMinersAlliance.js
  server/game/deedcard.js
  server/game/gamelocation.js
Labels: bug :bug:, card-script :black_joker:

#1357 Various fixes not just for WWE
  server/game/cards/09.2-AGE/OpenWound.js
  server/game/cards/11-TCaR/NightmareRealm.js
  server/game/cards/13-O4B/JohnnyRingo.js
  server/game/cards/16-DT2/108GraciousGifts2.js
  server/game/cards/16-DT2/CallingTheCavalry2.js
  server/game/cards/16-DT2/EmreTheTurkishBearExp1.js
  server/game/cards/16-DT2/ZacharyDeloria2.js
  server/game/drawcard.js
  server/game/game.js
  server/game/player.js
Labels: bug :bug:

#1364 Another fixes not just for WWE
  server/game/basecard.js
  server/game/cards/05-IOUF/YunxuJiang.js
  server/game/cards/07.1-DDeeds/JaelsGuile.js
  server/game/cards/09.2-AGE/TheMixer.js
  server/game/cards/11-TCaR/NightmareRealm.js
  server/game/cards/16-DT2/PoliteInquiries.js
  server/game/cards/16-DT2/TheMixer2.js
  server/game/cards/16-DT2/WalterJameson.js
  server/game/effects.js
  server/game/game.js
  server/game/gamesteps/abilityresolver.js
  server/game/gamesteps/highnoon/tradingprompt.js
  server/game/outfitcard.js
  server/game/player.js
  server/game/techniqueaction.js
  test/server/player/putintoplay.spec.js
Labels: bug :bug:, card-script :black_joker:

#1345 Implement The Law Goes Underground
  docs/cardpool-status.md
  server/game/cards/10-BMR/TheLawGoesUnderground.js
Labels: card-script :black_joker:

#1365 Fix some cards and upkeep when borrowed
  server/game/cards/16-DT2/YagnsMechanicalSkeleton2.js
  server/game/dudecard.js
  server/game/gamesteps/upkeepphase.js
  server/game/player.js
Labels: bug :bug:, card-script :black_joker:

#1368 Fix Discard and Upkeep prompt issues
  server/game/gamesteps/sundown/discardprompt.js
  server/game/gamesteps/upkeep/upkeepprompt.js
  server/game/player.js
Labels: bug :bug:

#1371 Fix techniques with target used in combo
  server/game/cards/02.1-NTNR/MakeEmSweat.js
  server/game/cards/05-IOUF/RakingDragons.js
  server/game/cards/05-IOUF/ZhusFerocity.js
  server/game/player.js
Labels: bug :bug:

#1372 Fix Kevin Wainwright and Mason Adler
  server/game/cards/10-BMR/HydroPuncher.js
  server/game/cards/12-2T2D/KevinWainwrightExp1.js
  server/game/cards/13-O4B/MasonAdler.js
  server/game/effects.js
Labels: bug :bug:, card-script :black_joker:

#1373 Another batch of fixes
  server/game/cards/14-HCWM/MarshalCavesCallarman.js
  server/game/cards/16-DT2/CallingTheCavalry2.js
  server/game/cards/16-DT2/RaggedMule.js
  server/game/cards/16-DT2/YagnsMechanicalSkeleton2.js
  server/game/gamesteps/nightfall/discardprompt.js
Labels: bug :bug:, card-script :black_joker:

#1375 Fix Benediction.js
  server/game/cards/15-W2D/Benediction.js
Labels: bug :bug:, card-script :black_joker:

#1377 Fix another bugs
  server/game/cards/02.2-DD/BairdsBuildLoan.js
  server/game/cards/14-HCWM/ViveneGoldsun.js
  server/game/cards/15-W2D/NuttalMannsNo10Saloon.js
  server/game/cards/16-DT2/TheMixer2.js
  server/game/dudecard.js
Labels: bug :bug:, card-script :black_joker:

#1378 Fix CaliforniaTaxOffice.js
  server/game/cards/03-FF/CaliforniaTaxOffice.js
Labels: bug :bug:, card-script :black_joker:

#1379 Add time panel
  server/game/game.js
  server/game/timeLimit.js
Labels: enhancement :rocket:, ui

#1381 Fix Bass Reeves and some card action contexts
  server/game/cards/01-DTR/PhilipSwinford.js
  server/game/cards/01-DTR/PointBlank.js
  server/game/cards/12-2T2D/PadreErnestodeDiaz.js
  server/game/cards/12-2T2D/TheSpiritualSociety.js
  server/game/cards/14-HCWM/PeteSpence.js
  server/game/cards/14-HCWM/TomasRamirez.js
  server/game/cards/16-DT2/BassReeves.js
  server/game/cards/16-DT2/PointBlank2.js
Labels: bug :bug:, card-script :black_joker:

#1382 Fix dynamicSkillRating effect
  server/game/effects.js
Labels: bug :bug:

#1383 Update NullCard with isNearby()
  server/game/nullcard.js
Labels: bug :bug:

#1386 Fix Thirst for Blood and forming posses event
  server/game/cards/16-DT2/LayOnHands2.js
  server/game/cards/16-DT2/ThirstForBlood.js
  server/game/gamesteps/shootout.js
Labels: bug :bug:

#1385 Get code coverage working.
  .gitignore
  docs/contributing.md
  package-lock.json
  package.json
Labels: tests :safety_vest:

#1387 Unit tests for DiscardTopCards.js
  test/server/GameActions/DiscardTopCards.spec.js
Labels: tests :safety_vest:

#1389 Set default suit and update Rosenbaum's Golem
  server/game/basecard.js
  server/game/cards/11-TCaR/RosenbaumsGolem.js
Labels: bug :bug:

#1390 Random first player on setup
  server/game/GameActions/LookAtHand.js
  server/game/MathHelper.js
  server/game/game.js
  server/game/gamesteps/setupphase.js
  server/game/player.js
  test/server/game/getplayers.spec.js
Labels: enhancement :rocket:
